.elementor-1046 .elementor-element.elementor-element-750c20fe {
  margin-top: 50px;
  margin-bottom: 30px;
}
.elementor-1046 .elementor-element.elementor-element-7976671b {
  text-align: center;
}
.elementor-1046
  .elementor-element.elementor-element-7976671b
  .elementor-heading-title {
  color: var(--e-global-color-accent);
}
.elementor-1046 .elementor-element.elementor-element-4eeb9060 {
  margin-top: 20px;
  margin-bottom: 50px;
}
.elementor-1046
  .elementor-element.elementor-element-46d6a7fb:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1046
  .elementor-element.elementor-element-46d6a7fb
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f9fafa;
}
.elementor-1046 .elementor-element.elementor-element-46d6a7fb {
  border-style: solid;
  border-width: 0px 0px 1px 0px;
  border-color: #eeeeee;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 80px 0px 80px 0px;
}
.elementor-1046
  .elementor-element.elementor-element-46d6a7fb
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1046 .elementor-element.elementor-element-50af4149 {
  margin-top: 0px;
  margin-bottom: 15px;
}
.elementor-1046
  .elementor-element.elementor-element-7bf7bae9
  .dl-service
  .service-title {
  font-family: "Poppins", Sans-serif;
  font-size: 22px;
  letter-spacing: -1px;
  color: #263a4f;
  margin: 25px 0px 15px 0px;
}
.elementor-1046
  .elementor-element.elementor-element-7bf7bae9
  .dl-service
  .service-title
  a {
  color: #263a4f;
}
.elementor-1046
  .elementor-element.elementor-element-7bf7bae9
  .dl-service
  .service-title
  a:hover {
  color: #222;
}
.elementor-1046
  .elementor-element.elementor-element-7bf7bae9
  .dl-service
  .dl-icon
  i,
.elementor-1046
  .elementor-element.elementor-element-7bf7bae9
  .dl-service.dl-service-style-5
  .dl-icon,
.elementor-1046
  .elementor-element.elementor-element-7bf7bae9
  .dl-service.dl-service-style-6
  .service-icon {
  background-color: var(--e-global-color-primary);
}
.elementor-1046
  .elementor-element.elementor-element-7bf7bae9
  .dl-service.dl-service-style-6
  .service-icon {
  width: 60px;
  height: 60px;
  font-size: 40px;
  color: #ffffff;
  -ms-transform: translate(30px, -30px);
  -webkit-transform: translate(30px, -30px);
  transform: translate(30px, -30px);
}
.elementor-1046
  .elementor-element.elementor-element-7bf7bae9
  .dl-service
  .dl-icon
  i {
  font-size: 40px;
  color: #ffffff;
}
.elementor-1046
  .elementor-element.elementor-element-7bf7bae9
  .dl-service
  a.readmore_btn {
  color: var(--e-global-color-primary);
  font-family: "Work Sans", Sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: var(--e-global-color-primary);
  border-radius: 0px 0px 0px 0px;
  margin: -15px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-1046
  .elementor-element.elementor-element-7bf7bae9
  .dl-service
  a.readmore_btn:hover {
  background-color: rgba(2, 1, 1, 0);
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #bfca02;
  border-radius: 0px 0px 0px 0px;
}
.elementor-1046
  .elementor-element.elementor-element-4bee36ed
  .dl-service
  .service-title {
  font-family: "Poppins", Sans-serif;
  font-size: 22px;
  letter-spacing: -1px;
  color: #263a4f;
  margin: 25px 0px 15px 0px;
}
.elementor-1046
  .elementor-element.elementor-element-4bee36ed
  .dl-service
  .service-title
  a {
  color: #263a4f;
}
.elementor-1046
  .elementor-element.elementor-element-4bee36ed
  .dl-service
  .service-title
  a:hover {
  color: #222;
}
.elementor-1046
  .elementor-element.elementor-element-4bee36ed
  .dl-service
  .dl-icon
  i,
.elementor-1046
  .elementor-element.elementor-element-4bee36ed
  .dl-service.dl-service-style-5
  .dl-icon,
.elementor-1046
  .elementor-element.elementor-element-4bee36ed
  .dl-service.dl-service-style-6
  .service-icon {
  background-color: var(--e-global-color-primary);
}
.elementor-1046
  .elementor-element.elementor-element-4bee36ed
  .dl-service.dl-service-style-6
  .service-icon {
  width: 60px;
  height: 60px;
  font-size: 40px;
  color: #ffffff;
  -ms-transform: translate(30px, -30px);
  -webkit-transform: translate(30px, -30px);
  transform: translate(30px, -30px);
}
.elementor-1046
  .elementor-element.elementor-element-4bee36ed
  .dl-service
  .dl-icon
  i {
  font-size: 40px;
  color: #ffffff;
}
.elementor-1046
  .elementor-element.elementor-element-4bee36ed
  .dl-service
  a.readmore_btn {
  color: var(--e-global-color-primary);
  font-family: "Work Sans", Sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: var(--e-global-color-primary);
  border-radius: 0px 0px 0px 0px;
  margin: -15px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-1046
  .elementor-element.elementor-element-4bee36ed
  .dl-service
  a.readmore_btn:hover {
  background-color: rgba(2, 1, 1, 0);
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #bfca02;
  border-radius: 0px 0px 0px 0px;
}
.elementor-1046
  .elementor-element.elementor-element-5a2e1319
  .dl-service
  .service-title {
  font-family: "Poppins", Sans-serif;
  font-size: 22px;
  letter-spacing: -1px;
  color: #263a4f;
  margin: 25px 0px 15px 0px;
}
.elementor-1046
  .elementor-element.elementor-element-5a2e1319
  .dl-service
  .service-title
  a {
  color: #263a4f;
}
.elementor-1046
  .elementor-element.elementor-element-5a2e1319
  .dl-service
  .service-title
  a:hover {
  color: #222;
}
.elementor-1046
  .elementor-element.elementor-element-5a2e1319
  .dl-service
  .dl-icon
  i,
.elementor-1046
  .elementor-element.elementor-element-5a2e1319
  .dl-service.dl-service-style-5
  .dl-icon,
.elementor-1046
  .elementor-element.elementor-element-5a2e1319
  .dl-service.dl-service-style-6
  .service-icon {
  background-color: var(--e-global-color-primary);
}
.elementor-1046
  .elementor-element.elementor-element-5a2e1319
  .dl-service.dl-service-style-6
  .service-icon {
  width: 60px;
  height: 60px;
  font-size: 40px;
  color: #ffffff;
  -ms-transform: translate(30px, -30px);
  -webkit-transform: translate(30px, -30px);
  transform: translate(30px, -30px);
}
.elementor-1046
  .elementor-element.elementor-element-5a2e1319
  .dl-service
  .dl-icon
  i {
  font-size: 40px;
  color: #ffffff;
}
.elementor-1046
  .elementor-element.elementor-element-5a2e1319
  .dl-service
  a.readmore_btn {
  color: var(--e-global-color-primary);
  font-family: "Work Sans", Sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: var(--e-global-color-primary);
  border-radius: 0px 0px 0px 0px;
  margin: -15px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-1046
  .elementor-element.elementor-element-5a2e1319
  .dl-service
  a.readmore_btn:hover {
  background-color: rgba(2, 1, 1, 0);
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #bfca02;
  border-radius: 0px 0px 0px 0px;
}
.elementor-1046
  .elementor-element.elementor-element-1a52009e
  .dl-service
  .service-title {
  font-family: "Poppins", Sans-serif;
  font-size: 22px;
  letter-spacing: -1px;
  color: #263a4f;
  margin: 25px 0px 15px 0px;
}
.elementor-1046
  .elementor-element.elementor-element-1a52009e
  .dl-service
  .service-title
  a {
  color: #263a4f;
}
.elementor-1046
  .elementor-element.elementor-element-1a52009e
  .dl-service
  .service-title
  a:hover {
  color: #222;
}
.elementor-1046
  .elementor-element.elementor-element-1a52009e
  .dl-service
  .dl-icon
  i,
.elementor-1046
  .elementor-element.elementor-element-1a52009e
  .dl-service.dl-service-style-5
  .dl-icon,
.elementor-1046
  .elementor-element.elementor-element-1a52009e
  .dl-service.dl-service-style-6
  .service-icon {
  background-color: var(--e-global-color-primary);
}
.elementor-1046
  .elementor-element.elementor-element-1a52009e
  .dl-service.dl-service-style-6
  .service-icon {
  width: 60px;
  height: 60px;
  font-size: 40px;
  color: #ffffff;
  -ms-transform: translate(30px, -30px);
  -webkit-transform: translate(30px, -30px);
  transform: translate(30px, -30px);
}
.elementor-1046
  .elementor-element.elementor-element-1a52009e
  .dl-service
  .dl-icon
  i {
  font-size: 40px;
  color: #ffffff;
}
.elementor-1046
  .elementor-element.elementor-element-1a52009e
  .dl-service
  a.readmore_btn {
  color: var(--e-global-color-primary);
  font-family: "Work Sans", Sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: var(--e-global-color-primary);
  border-radius: 0px 0px 0px 0px;
  margin: -15px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-1046
  .elementor-element.elementor-element-1a52009e
  .dl-service
  a.readmore_btn:hover {
  background-color: rgba(2, 1, 1, 0);
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #bfca02;
  border-radius: 0px 0px 0px 0px;
}
.elementor-1046
  .elementor-element.elementor-element-6f4deea2
  .dl-service
  .service-title {
  font-family: "Poppins", Sans-serif;
  font-size: 22px;
  letter-spacing: -1px;
  color: #263a4f;
  margin: 25px 0px 15px 0px;
}
.elementor-1046
  .elementor-element.elementor-element-6f4deea2
  .dl-service
  .service-title
  a {
  color: #263a4f;
}
.elementor-1046
  .elementor-element.elementor-element-6f4deea2
  .dl-service
  .service-title
  a:hover {
  color: #222;
}
.elementor-1046
  .elementor-element.elementor-element-6f4deea2
  .dl-service
  .dl-icon
  i,
.elementor-1046
  .elementor-element.elementor-element-6f4deea2
  .dl-service.dl-service-style-5
  .dl-icon,
.elementor-1046
  .elementor-element.elementor-element-6f4deea2
  .dl-service.dl-service-style-6
  .service-icon {
  background-color: var(--e-global-color-primary);
}
.elementor-1046
  .elementor-element.elementor-element-6f4deea2
  .dl-service.dl-service-style-6
  .service-icon {
  width: 60px;
  height: 60px;
  font-size: 40px;
  color: #ffffff;
  -ms-transform: translate(30px, -30px);
  -webkit-transform: translate(30px, -30px);
  transform: translate(30px, -30px);
}
.elementor-1046
  .elementor-element.elementor-element-6f4deea2
  .dl-service
  .dl-icon
  i {
  font-size: 40px;
  color: #ffffff;
}
.elementor-1046
  .elementor-element.elementor-element-6f4deea2
  .dl-service
  a.readmore_btn {
  color: var(--e-global-color-primary);
  font-family: "Work Sans", Sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: var(--e-global-color-primary);
  border-radius: 0px 0px 0px 0px;
  margin: -15px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-1046
  .elementor-element.elementor-element-6f4deea2
  .dl-service
  a.readmore_btn:hover {
  background-color: rgba(2, 1, 1, 0);
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #bfca02;
  border-radius: 0px 0px 0px 0px;
}
.elementor-1046
  .elementor-element.elementor-element-629e97cb
  .dl-service
  .service-title {
  font-family: "Poppins", Sans-serif;
  font-size: 22px;
  letter-spacing: -1px;
  color: #263a4f;
  margin: 25px 0px 15px 0px;
}
.elementor-1046
  .elementor-element.elementor-element-629e97cb
  .dl-service
  .service-title
  a {
  color: #263a4f;
}
.elementor-1046
  .elementor-element.elementor-element-629e97cb
  .dl-service
  .service-title
  a:hover {
  color: #222;
}
.elementor-1046
  .elementor-element.elementor-element-629e97cb
  .dl-service
  .dl-icon
  i,
.elementor-1046
  .elementor-element.elementor-element-629e97cb
  .dl-service.dl-service-style-5
  .dl-icon,
.elementor-1046
  .elementor-element.elementor-element-629e97cb
  .dl-service.dl-service-style-6
  .service-icon {
  background-color: var(--e-global-color-primary);
}
.elementor-1046
  .elementor-element.elementor-element-629e97cb
  .dl-service.dl-service-style-6
  .service-icon {
  width: 60px;
  height: 60px;
  font-size: 40px;
  color: #ffffff;
  -ms-transform: translate(30px, -30px);
  -webkit-transform: translate(30px, -30px);
  transform: translate(30px, -30px);
}
.elementor-1046
  .elementor-element.elementor-element-629e97cb
  .dl-service
  .dl-icon
  i {
  font-size: 40px;
  color: #ffffff;
}
.elementor-1046
  .elementor-element.elementor-element-629e97cb
  .dl-service
  a.readmore_btn {
  color: var(--e-global-color-primary);
  font-family: "Work Sans", Sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: var(--e-global-color-primary);
  border-radius: 0px 0px 0px 0px;
  margin: -15px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-1046
  .elementor-element.elementor-element-629e97cb
  .dl-service
  a.readmore_btn:hover {
  background-color: rgba(2, 1, 1, 0);
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #bfca02;
  border-radius: 0px 0px 0px 0px;
}
@media (max-width: 1024px) {
  .elementor-1046 .elementor-element.elementor-element-46d6a7fb {
    padding: 50px 10px 50px 10px;
  }
  .elementor-1046
    .elementor-element.elementor-element-7bf7bae9
    .dl-service.dl-service-style-6
    .service-icon {
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  .elementor-1046
    .elementor-element.elementor-element-4bee36ed
    .dl-service.dl-service-style-6
    .service-icon {
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  .elementor-1046
    .elementor-element.elementor-element-5a2e1319
    .dl-service.dl-service-style-6
    .service-icon {
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  .elementor-1046
    .elementor-element.elementor-element-1a52009e
    .dl-service.dl-service-style-6
    .service-icon {
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  .elementor-1046
    .elementor-element.elementor-element-6f4deea2
    .dl-service.dl-service-style-6
    .service-icon {
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  .elementor-1046
    .elementor-element.elementor-element-629e97cb
    .dl-service.dl-service-style-6
    .service-icon {
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}
@media (max-width: 767px) {
  .elementor-1046 .elementor-element.elementor-element-46d6a7fb {
    padding: 50px 10px 50px 10px;
  }
  .elementor-1046
    .elementor-element.elementor-element-7bf7bae9
    .dl-service
    .service-title {
    font-size: 18px;
  }
  .elementor-1046
    .elementor-element.elementor-element-7bf7bae9
    .dl-service.dl-service-style-6
    .service-icon {
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  .elementor-1046
    .elementor-element.elementor-element-4bee36ed
    .dl-service
    .service-title {
    font-size: 18px;
  }
  .elementor-1046
    .elementor-element.elementor-element-4bee36ed
    .dl-service.dl-service-style-6
    .service-icon {
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  .elementor-1046
    .elementor-element.elementor-element-5a2e1319
    .dl-service
    .service-title {
    font-size: 18px;
  }
  .elementor-1046
    .elementor-element.elementor-element-5a2e1319
    .dl-service.dl-service-style-6
    .service-icon {
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  .elementor-1046
    .elementor-element.elementor-element-1a52009e
    .dl-service
    .service-title {
    font-size: 18px;
  }
  .elementor-1046
    .elementor-element.elementor-element-1a52009e
    .dl-service.dl-service-style-6
    .service-icon {
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  .elementor-1046
    .elementor-element.elementor-element-6f4deea2
    .dl-service
    .service-title {
    font-size: 18px;
  }
  .elementor-1046
    .elementor-element.elementor-element-6f4deea2
    .dl-service.dl-service-style-6
    .service-icon {
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  .elementor-1046
    .elementor-element.elementor-element-629e97cb
    .dl-service
    .service-title {
    font-size: 18px;
  }
  .elementor-1046
    .elementor-element.elementor-element-629e97cb
    .dl-service.dl-service-style-6
    .service-icon {
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}
