/*
  Arkid Core Styles
*/

/*  ==========================================================================
    Table of Content
    ==========================================================================

    1.0 Button Style
    2.0 Columns
    3.0 Social Share
    4.0 Subscribe Form
    5.0 Widgets
        5.1 About
        5.2 Company Info
        5.3 MailChimp
    6.0 Projects
        6.1 Project Filter

    ==========================================================================
    Arkid Core
    ========================================================================== */

/* Global Transition */

a, a:hover {
    transition: all 0.2s ease-in-out;
}

.elementor-text-editor p {
    margin: 0;
}

/* This class can be replaced using options */

.hover-in {
    transition: .3s ease-out;
}

.hover-out {
    transition: .3s ease-in;
}

/* ==========================================================================
   1.0 Button Style
   ========================================================================== */

.wt-btn {
    font-family: "Work Sans", sans-serif;
    letter-spacing: 0;
    background-color: #000000;
    color: #fff;
    line-height: 45px;
    display: inline-block;
    padding: 0 35px;
    border-radius: 2px;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    z-index: 1;
    -webkit-transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

.wt-align-justify .wt-btn {
    display: block;
}

.wt-btn:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(255, 255, 255, 0.2);
    -webkit-transform-origin: right center;
    -moz-transform-origin: right center;
    -ms-transform-origin: right center;
    transform-origin: right center;
    -webkit-transform: scale(0, 1);
    -moz-transform: scale(0, 1);
    -ms-transform: scale(0, 1);
    -o-transform: scale(0, 1);
    transform: scale(0, 1);
    -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -moz-transition: -moz-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -ms-transition: -ms-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    -o-transition: -o-transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: -1;
}

.wt-btn:hover {
    color: #fff;
}

.wt-btn:hover:before {
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    transform-origin: left center;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1);
}

/* ==========================================================================
   2.0 Columns
   ========================================================================== */

.wt-row {
    display: block;
    margin: 0 -10px;
}

.wt-row .wt-col {
    float: left;
    display: block;
    padding: 0 10px;
}

.wt-row.wt-column-desktop-1 .wt-col {
    width: 100%;
}

.wt-row.wt-column-desktop-2 .wt-col {
    width: 50%;
}

.wt-row.wt-column-desktop-3 .wt-col {
    width: 33.33%;
}

.wt-row.wt-column-desktop-4 .wt-col {
    width: 25%;
}

.wt-row.wt-column-desktop-5 .wt-col {
    width: 20%;
}

.wt-row.wt-column-desktop-6 .wt-col {
    width: 16.66%;
}

@media (max-width: 992px) {
    .wt-row.wt-column-tablet-1 .wt-col {
        width: 100%;
    }

    .wt-row.wt-column-tablet-2 .wt-col {
        width: 50%;
    }

    .wt-row.wt-column-tablet-3 .wt-col {
        width: 33.33%;
    }

    .wt-row.wt-column-tablet-4 .wt-col {
        width: 25%;
    }

    .wt-row.wt-column-tablet-5 .wt-col {
        width: 20%;
    }

    .wt-row.wt-column-tablet-6 .wt-col {
        width: 16.66%;
    }

    .dl-project-items {
        margin-right: 0 !important;
        margin-left: 0 !important;
    }
}

@media (max-width: 480px) {
    .wt-row.wt-column-mobile-1 .wt-col {
        width: 100%;
    }

    .wt-row.wt-column-mobile-2 .wt-col {
        width: 50%;
    }

    .wt-row.wt-column-mobile-3 .wt-col {
        width: 33.33%;
    }

    .wt-row.wt-column-mobile-4 .wt-col {
        width: 25%;
    }

    .wt-row.wt-column-mobile-5 .wt-col {
        width: 20%;
    }

    .wt-row.wt-column-mobile-6 .wt-col {
        width: 16.66%;
    }
}

/* ==========================================================================
   3.0 Social Share
   ========================================================================== */

.social-share-wrap {
    display: inline-block;
    margin-right: 10px;
}

.social-share {
    display: block;
    margin: 0;
}

.social-share span {
    margin-right: 10px;
}

.social-share a {
    color: #555;
    font-size: 11px;
    margin-right: 10px;
}

.social-share a:hover {
    color: #444;
}

/* Social Icons */

.wt-social-icons {
    display: block;
    margin: 0 !important;
}

.wt-social-icons.left {
    text-align: left;
}

.wt-social-icons.left li:not(:last-of-type) {
    margin-right: 20px;
}

.wt-social-icons.center {
    text-align: center;
}

.wt-social-icons.center li {
    margin: 0 10px;
}

.wt-social-icons.right {
    text-align: right;
}

.wt-social-icons.right li:not(:first-of-type) {
    margin-left: 20px;
}

.wt-social-icons li {
    display: inline-block;
}

.wt-social-icons li a {
    color: #ddd;
    font-size: 12px;
}

.wt-social-icons li a:hover {
    color: #fff;
    opacity: 0.7;
}

.widget ul.wt-social-icons li a {
    color: #999;
}

.widget ul.wt-social-icons li a:hover {
    color: #313335;
    opacity: 1;
}

/* ==========================================================================
   4.0 Subscribe Form
   ========================================================================== */

.subscribe_form {
    display: block;
    text-align: center;
    padding: 5px 0;
}

.subscribe_form input.input {
    display: block;
    background-color: #333;
    color: #fff;
    border: none;
    font-size: 12px;
    line-height: 50px;
    padding: 0 10px;
    float: left;
    border-radius: 0;
    width: 70%;
    transition: all 0.5s ease-in-out;
}

.subscribe_form input.input:focus {
    color: #fff;
}

.subscribe_form .submit {
    background-color: #9e8a78;
    color: #fff;
    font-family: "Work Sans", serif;
    font-size: 10px;
    font-weight: 600;
    line-height: 50px;
    display: inline-block;
    padding: 0 10px;
    float: left;
    width: 30%;
    border-radius: 0;
    letter-spacing: 1;
    transition: all 0.5s ease-in-out;
}

.subscribe_form .submit:hover {
    background-color: #897666;
    transition: all 0.5s ease-in-out;
}

.subscribe_form input::-webkit-input-placeholder {
    color: #ddd !important;
}

.subscribe_form input:-moz-placeholder {
    /* Firefox 18- */
    color: #ddd !important;
}

.subscribe_form input::-moz-placeholder {
    /* Firefox 19+ */
    color: #ddd !important;
}

.subscribe_form input:-ms-input-placeholder {
    color: #ddd !important;
}

.mc4wp-form-submitted .mc4wp-error {
    margin-top: 50px;
}

.mc4wp-form-submitted .mc4wp-error p {
    color: #ddd;
}

.mc4wp-form-submitted .mc4wp-error p a {
    color: #ddd;
}

/* Widget About */

.widget-about {}

.widget-about .widget-brand {
    display: block;
    margin-bottom: 20px;
}

.widget-about .widget-brand img {
    max-width: 60%;
}

.widget-about-info {
    display: block;
    color: #999;
    font-size: 15px;
    font-family: "Work Sans", serif;
    line-height: 1.73;
    letter-spacing: .2px;
}

.widget-about-info span {
    font-family: 'Work Sans', serif;
    font-size: 13px;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
}

.widget .widget-about-info span {
    color: #313335;
}

.widget-about .wt-social-icons {
    margin-top: 20px !important;
}

.widget-about .wt-social-icons li {
    padding: 0;
}

.widget-about .wt-social-icons li:before {
    display: none;
}

@media (max-width: 520px) {
    .widget-about .widget-brand img {
        max-width: 150px;
    }
}

/* Custom Venobox */

.vbox-content {
    height: 100vh;
}

.vbox-container img {
    height: 100%;
}

/* ==========================================================================
   5.0 Widgets
   ========================================================================== */

/* 5.1 About */

.widget-about p {
    color: #6a8695;
}

.widget-about .wt-social-icons li {
    display: inline-block;
}

.widget-about .wt-social-icons li:not(:last-of-type) {
    margin-right: 5px;
    margin-bottom: 5px;
    padding: 0;
}

.widget-about .wt-social-icons li>a {
    color: #999;
    font-size: 13px;
    text-decoration: none;
    background-color: #34383c;
    width: 35px;
    display: inline-block;
    text-align: center;
    height: 35px;
    line-height: 35px;
    border-radius: 2px;
}

.widget-about .wt-social-icons li>a svg {
    width: 13px;
}

.widget-about .wt-social-icons li>a:hover {
    color: #fff !important;
    opacity: 0.9 !important;
}

.widget-about .wt-social-icons li.facebook-f a {
    background-color: #3b5998;
    color: #fff;
}

.widget-about .wt-social-icons li.twitter a {
    background-color: #1da1f2;
    color: #fff;
}

.widget-about .wt-social-icons li.instagram a {
    background-color: #e1306c;
    color: #fff;
}

.widget-about .wt-social-icons li.youtube a {
    background-color: #c4302b;
    color: #fff;
}

.widget-about .wt-social-icons li.pinterest a {
    background-color: #bd081c;
    color: #fff;
}

.widget-about .wt-social-icons li.behance a {
    background-color: #053eff;
    color: #fff;
}

.widget-about .wt-social-icons li.dribbble a {
    background-color: #ea4c89;
    color: #fff;
}

.widget-about .wt-social-icons li.linkedin-in a {
    background-color: #0e76a8;
    color: #fff;
}

.widget-about .wt-social-icons li.flickr a {
    background-color: #ff0084;
    color: #fff;
}

/* 5.2 Company Info */

.widget .widget-comp-contact {}

.widget .widget-comp-contact li {
    font-size: 15px;
    padding-bottom: 0 !important;
    border-bottom: 0px solid #000 !important;
}

.widget .widget-comp-contact li:not(:last-of-type) {
    margin-bottom: 15px;
}

.widget .widget-comp-contact li svg {
    width: 15px;
    margin-right: 10px;
    color: #bfca02;
}

/* 5.3 MailChimp */

.widget-mailchimp {}

.widget-mailchimp .wt-subscribe-wrap {}

.widget-mailchimp .wt-subscribe-wrap form {
    position: relative;
    margin: 15px 0;
}

.widget-mailchimp .wt-subscribe-wrap form input {
    display: block;
    background-color: transparent;
    border: 1px solid #bfca02;
    color: #6a8695;
    border-radius: 0;
    padding: 15px 13px;
    padding-right: 83px;
}

.widget-mailchimp.dark .wt-subscribe-wrap form input {
    border: 2px solid #ddd;
    color: #555;
}

.widget-mailchimp .wt-subscribe-wrap form input::-webkit-input-placeholder {
    color: #888 !important;
}

.widget-mailchimp .wt-subscribe-wrap form input:-moz-placeholder {
    /* Firefox 18- */
    color: #888 !important;
}

.widget-mailchimp .wt-subscribe-wrap form input::-moz-placeholderr {
    /* Firefox 19+ */
    color: #888 !important;
}

.widget-mailchimp .wt-subscribe-wrap form input:-ms-input-placeholder {
    color: #888 !important;
}

.widget-mailchimp .wt-subscribe-wrap form button {
    background-color: #bfca02;
    color: #fff;
    display: inline-block;
    text-align: center;
    width: 70px;
    height: 45px;
    position: absolute;
    right: 5px;
    top: 4px;
    border-radius: 0;
    transition: all 0.3s ease-in-out;
}

.widget-mailchimp .wt-subscribe-wrap form button svg {
    width: 15px;
}

.widget-mailchimp .wt-subscribe-wrap form button:focus {
    outline: none;
}

.widget-mailchimp .wt-subscribe-wrap form button:hover {
    opacity: 0.9;
    color: #fff;
    transition: all 0.3s ease-in-out;
}

.widget-mailchimp p.muted {
    color: #ddd;
    margin-bottom: 0;
}

.widget-mailchimp .subscribe-result p {
    margin: 15px 0 0;
    padding: 15px;
    display: none;
}

.widget-mailchimp .subscribe-result.subs-success p.subscription-success {
    display: block;
}

.widget-mailchimp .subscribe-result.subs-error p.subscription-error {
    display: block;
}

.widget-mailchimp .subscribe-result p.subscription-success {
    border: 1px solid #5ecc62;
}

.widget-mailchimp .subscribe-result p.subscription-error {
    border: 1px solid #ff4c4c;
}

/* Image Carousel */

.sponsor .elementor-image-carousel .swiper-slide-inner img {
    transition: all 0.3s ease-in-out;
}

.sponsor .elementor-image-carousel .swiper-slide-inner:hover img {
    opacity: 0.8;
    cursor: pointer;
}

/* Project Social Share */

.project-share {
    margin: 0;
    padding: 0;
    list-style: none;
}

.project-share li {
    display: inline-block;
    margin-right: 10px;
}

.project-share li svg {
    width: 13px;
    height: 13px;
    fill: #666;
    transition: fill 0.3s ease-in-out;
}

.project-share li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    border-radius: 2px;
    border: 1px solid #eee;
    transition: all 0.3s ease-in-out;
}

.project-share li a:hover {
    background-color: #bfca02;
    border-color: #bfca02;
    transition: all .3s ease-in-out;
}

.project-share li a:hover svg {
    fill: #fff;
}

/* ===== Text Animation ===== */

.splitting.animated .char {
    -webkit-animation: DLfadeInUp 0.4s cubic-bezier(0.3, 0, 0.7, 1) both;
    animation: DLfadeInUp 0.4s cubic-bezier(0.3, 0, 0.7, 1) both;
    -webkit-animation-delay: calc(30ms * var(--char-index));
    animation-delay: calc(30ms * var(--char-index));
    display: inline-block;
}

.splitting .whitespace {
    width: 10px;
}

@-webkit-keyframes DLfadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes DLfadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

.splitting.fade-in.animated .char {
    -webkit-animation: DLfadeIn 0.3s cubic-bezier(0.3, 0, 0.7, 1) both;
    animation: DLfadeIn 0.3s cubic-bezier(0.3, 0, 0.7, 1) both;
    -webkit-animation-delay: calc(10ms * var(--char-index));
    animation-delay: calc(10ms * var(--char-index));
}

.splitting.fade-in .whitespace {
    width: 5px;
}

@-webkit-keyframes DLfadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes DLfadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

/* ===== Image Reveat Effect ===== */
.elementor-image.dl-image {
    position: relative;
}

.elementor-image.dl-image .img-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0;
    right: 0;
    background: #fff;
    visibility: visible !important;
    -webkit-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
    z-index: 2;
}

.elementor-image.dl-image.animate .img-overlay {
    width: 0;
}


/* Lightbox */

.arkid #spotlight .dl-header {
    background-color: rgba(0, 0, 0, .5);
}

.arkid #spotlight .icon {
    background-size: 18px 18px;
}

.arkid #spotlight .dl-header div {
    opacity: 0.8;
    padding-right: 10px;
}

.arkid #spotlight .dl-header .icon.player, .arkid #spotlight .dl-header .icon.theme, .arkid #spotlight .dl-header .icon.autofit {
    display: none;
}

.arkid #spotlight .arrow {
    background-color: transparent;
    -webkit-background-size: 25px 25px;
    background-size: 25px 25px;
}

.arkid #spotlight .footer {
    text-align: center;
    background-color: transparent;
}

.arkid #spotlight .footer .title {
    margin-bottom: 0;
}