.elementor-1049 .elementor-element.elementor-element-15ea142a .el-page-header {
  height: 400px;
  text-align: center;
  background-image: url("../../images/aboutus/Papanikolaou-About-us.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.elementor-1049
  .elementor-element.elementor-element-15ea142a
  .el-ph-content
  h2 {
  font-family: "Poppins", Sans-serif;
  font-size: 36px;
  font-weight: 600;
  letter-spacing: 0px;
  color: #fff;
  padding: 10px 10px 10px 10px;
  border-style: solid;
}
.elementor-1049 .elementor-element.elementor-element-15ea142a .el-ph-content p {
  font-family: "Open Sans", Sans-serif;
  font-size: 25px;
  font-weight: 600;
  line-height: 26px;
  letter-spacing: -0.2px;
  color: #fff;
}
.elementor-1049 .elementor-element.elementor-element-7458e7c3 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 80px 0px 50px 0px;
}
.elementor-1049
  .elementor-element.elementor-element-7458e7c3
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1049
  .elementor-element.elementor-element-34f17420
  .elementor-heading-title {
  color: #664628;
}
.elementor-1049
  .elementor-element.elementor-element-c1adfb7:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1049
  .elementor-element.elementor-element-c1adfb7
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-7e67156);
}
.elementor-1049 .elementor-element.elementor-element-c1adfb7 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-1049
  .elementor-element.elementor-element-c1adfb7
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1049
  .elementor-element.elementor-element-2deb7267
  .dl-flip-box-front
  .dl-flip-icon {
  margin-bottom: 15px;
}
.elementor-1049
  .elementor-element.elementor-element-2deb7267
  .dl-flip-box-front-inner
  .dl-flip-icon {
  font-size: 37px;
}
.elementor-1049
  .elementor-element.elementor-element-2deb7267
  .dl-flip-box-front-inner
  .dl-flip-icon
  svg {
  width: 37px;
  height: auto;
}
.elementor-1049
  .elementor-element.elementor-element-2deb7267
  .dl-flip-box-front-inner
  .icon-wrap
  .dl-flip-icon
  i {
  color: var(--e-global-color-primary);
}
.elementor-1049
  .elementor-element.elementor-element-2deb7267
  .dl-flip-box-front-inner
  .dl-flip-box-heading {
  color: var(--e-global-color-primary);
  font-size: 29px;
}
.elementor-1049
  .elementor-element.elementor-element-2deb7267
  .dl-flip-box-back {
  padding: 0px 50px 0px 50px;
  background-color: var(--e-global-color-primary);
}
.elementor-1049
  .elementor-element.elementor-element-2deb7267
  .dl-flip-wrap
  .dl-flip-box
  .dl-flip-box-back:before {
  background-color: rgba(0, 0, 0, 0.27);
}
.elementor-1049
  .elementor-element.elementor-element-2deb7267
  .dl-flip-box-back-inner
  .dl-flip-box-heading-back {
  color: var(--e-global-color-accent);
}
.elementor-1049
  .elementor-element.elementor-element-2deb7267
  .dl-flip-box-back-inner
  .dl-text
  p {
  margin-top: 15px;
}
.elementor-1049
  .elementor-element.elementor-element-2deb7267
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  background-color: var(--e-global-color-7e67156);
}
.elementor-1049 .elementor-element.elementor-element-b32e95e {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 65px 0px 20px 0px;
}
.elementor-1049
  .elementor-element.elementor-element-b32e95e
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1049 .elementor-element.elementor-element-d9287a1 .section-heading {
  text-align: left;
}
.elementor-1049
  .elementor-element.elementor-element-d9287a1
  .section-heading
  .heading {
  color: var(--e-global-color-primary);
}
.elementor-1049
  .elementor-element.elementor-element-d9287a1
  .section-heading
  .desc {
  color: #6a8695;
}
.elementor-1049 .elementor-element.elementor-element-bf79f5e {
  padding: 0px 0px 0px 0px;
}
.elementor-1049
  .elementor-element.elementor-element-2a06016:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1049
  .elementor-element.elementor-element-2a06016
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-image: url("../../images/aboutus/bg-pattern.png");
}
.elementor-1049 .elementor-element.elementor-element-2a06016 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 90px 0px 90px 0px;
}
.elementor-1049
  .elementor-element.elementor-element-2a06016
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1049
  .elementor-element.elementor-element-cfe886a
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-1049
  .elementor-element.elementor-element-cfe886a:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1049
  .elementor-element.elementor-element-cfe886a
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-7e67156);
}
.elementor-1049 .elementor-element.elementor-element-cfe886a:hover {
  background-color: var(--e-global-color-primary);
}
.elementor-1049 .elementor-element.elementor-element-cfe886a {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-1049
  .elementor-element.elementor-element-cfe886a
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1049
  .elementor-element.elementor-element-ba58979
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-1049
  .elementor-element.elementor-element-ba58979.elementor-view-stacked
  .elementor-icon {
  background-color: var(--e-global-color-primary);
  color: var(--e-global-color-7e67156);
}
.elementor-1049
  .elementor-element.elementor-element-ba58979.elementor-view-framed
  .elementor-icon,
.elementor-1049
  .elementor-element.elementor-element-ba58979.elementor-view-default
  .elementor-icon {
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-1049
  .elementor-element.elementor-element-ba58979.elementor-view-framed
  .elementor-icon,
.elementor-1049
  .elementor-element.elementor-element-ba58979.elementor-view-default
  .elementor-icon
  svg {
  fill: var(--e-global-color-primary);
}
.elementor-1049
  .elementor-element.elementor-element-ba58979.elementor-view-framed
  .elementor-icon {
  background-color: var(--e-global-color-7e67156);
}
.elementor-1049
  .elementor-element.elementor-element-ba58979.elementor-view-stacked
  .elementor-icon
  svg {
  fill: var(--e-global-color-7e67156);
}
.elementor-1049
  .elementor-element.elementor-element-ba58979.elementor-view-stacked
  .elementor-icon:hover {
  background-color: var(--e-global-color-primary);
  color: var(--e-global-color-accent);
}
.elementor-1049
  .elementor-element.elementor-element-ba58979.elementor-view-framed
  .elementor-icon:hover,
.elementor-1049
  .elementor-element.elementor-element-ba58979.elementor-view-default
  .elementor-icon:hover {
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-1049
  .elementor-element.elementor-element-ba58979.elementor-view-framed
  .elementor-icon:hover,
.elementor-1049
  .elementor-element.elementor-element-ba58979.elementor-view-default
  .elementor-icon:hover
  svg {
  fill: var(--e-global-color-primary);
}
.elementor-1049
  .elementor-element.elementor-element-ba58979.elementor-view-framed
  .elementor-icon:hover {
  background-color: var(--e-global-color-accent);
}
.elementor-1049
  .elementor-element.elementor-element-ba58979.elementor-view-stacked
  .elementor-icon:hover
  svg {
  fill: var(--e-global-color-accent);
}
.elementor-1049 .elementor-element.elementor-element-ba58979 .elementor-icon {
  font-size: 20px;
}
.elementor-1049
  .elementor-element.elementor-element-ba58979
  .elementor-icon
  svg {
  height: 20px;
}
.elementor-1049
  .elementor-element.elementor-element-ba58979
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-1049
  .elementor-element.elementor-element-f1d331b
  .elementor-heading-title {
  color: var(--e-global-color-accent);
}
.elementor-1049
  .elementor-element.elementor-element-f1d331b
  > .elementor-widget-container {
  padding: 15px 5px 15px 5px;
}
.elementor-1049
  .elementor-element.elementor-element-8c96be4
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-1049
  .elementor-element.elementor-element-8c96be4:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1049
  .elementor-element.elementor-element-8c96be4
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-7e67156);
}
.elementor-1049 .elementor-element.elementor-element-8c96be4:hover {
  background-color: var(--e-global-color-primary);
}
.elementor-1049 .elementor-element.elementor-element-8c96be4 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-1049
  .elementor-element.elementor-element-8c96be4
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1049
  .elementor-element.elementor-element-c788d44
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-1049
  .elementor-element.elementor-element-c788d44.elementor-view-stacked
  .elementor-icon {
  background-color: var(--e-global-color-primary);
}
.elementor-1049
  .elementor-element.elementor-element-c788d44.elementor-view-framed
  .elementor-icon,
.elementor-1049
  .elementor-element.elementor-element-c788d44.elementor-view-default
  .elementor-icon {
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-1049
  .elementor-element.elementor-element-c788d44.elementor-view-framed
  .elementor-icon,
.elementor-1049
  .elementor-element.elementor-element-c788d44.elementor-view-default
  .elementor-icon
  svg {
  fill: var(--e-global-color-primary);
}
.elementor-1049
  .elementor-element.elementor-element-c788d44.elementor-view-stacked
  .elementor-icon:hover {
  background-color: var(--e-global-color-primary);
  color: var(--e-global-color-accent);
}
.elementor-1049
  .elementor-element.elementor-element-c788d44.elementor-view-framed
  .elementor-icon:hover,
.elementor-1049
  .elementor-element.elementor-element-c788d44.elementor-view-default
  .elementor-icon:hover {
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-1049
  .elementor-element.elementor-element-c788d44.elementor-view-framed
  .elementor-icon:hover,
.elementor-1049
  .elementor-element.elementor-element-c788d44.elementor-view-default
  .elementor-icon:hover
  svg {
  fill: var(--e-global-color-primary);
}
.elementor-1049
  .elementor-element.elementor-element-c788d44.elementor-view-framed
  .elementor-icon:hover {
  background-color: var(--e-global-color-accent);
}
.elementor-1049
  .elementor-element.elementor-element-c788d44.elementor-view-stacked
  .elementor-icon:hover
  svg {
  fill: var(--e-global-color-accent);
}
.elementor-1049 .elementor-element.elementor-element-c788d44 .elementor-icon {
  font-size: 20px;
}
.elementor-1049
  .elementor-element.elementor-element-c788d44
  .elementor-icon
  svg {
  height: 20px;
}
.elementor-1049
  .elementor-element.elementor-element-c788d44
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-1049
  .elementor-element.elementor-element-0398539
  .elementor-heading-title {
  color: var(--e-global-color-accent);
}
.elementor-1049
  .elementor-element.elementor-element-0398539
  > .elementor-widget-container {
  padding: 15px 5px 15px 5px;
}
.elementor-1049
  .elementor-element.elementor-element-65cd46b
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-1049
  .elementor-element.elementor-element-65cd46b:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1049
  .elementor-element.elementor-element-65cd46b
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-7e67156);
}
.elementor-1049 .elementor-element.elementor-element-65cd46b:hover {
  background-color: var(--e-global-color-primary);
}
.elementor-1049 .elementor-element.elementor-element-65cd46b {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-1049
  .elementor-element.elementor-element-65cd46b
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1049
  .elementor-element.elementor-element-814d51f
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-1049
  .elementor-element.elementor-element-814d51f.elementor-view-stacked
  .elementor-icon {
  background-color: var(--e-global-color-primary);
}
.elementor-1049
  .elementor-element.elementor-element-814d51f.elementor-view-framed
  .elementor-icon,
.elementor-1049
  .elementor-element.elementor-element-814d51f.elementor-view-default
  .elementor-icon {
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-1049
  .elementor-element.elementor-element-814d51f.elementor-view-framed
  .elementor-icon,
.elementor-1049
  .elementor-element.elementor-element-814d51f.elementor-view-default
  .elementor-icon
  svg {
  fill: var(--e-global-color-primary);
}
.elementor-1049
  .elementor-element.elementor-element-814d51f.elementor-view-stacked
  .elementor-icon:hover {
  background-color: var(--e-global-color-primary);
  color: var(--e-global-color-accent);
}
.elementor-1049
  .elementor-element.elementor-element-814d51f.elementor-view-framed
  .elementor-icon:hover,
.elementor-1049
  .elementor-element.elementor-element-814d51f.elementor-view-default
  .elementor-icon:hover {
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-1049
  .elementor-element.elementor-element-814d51f.elementor-view-framed
  .elementor-icon:hover,
.elementor-1049
  .elementor-element.elementor-element-814d51f.elementor-view-default
  .elementor-icon:hover
  svg {
  fill: var(--e-global-color-primary);
}
.elementor-1049
  .elementor-element.elementor-element-814d51f.elementor-view-framed
  .elementor-icon:hover {
  background-color: var(--e-global-color-accent);
}
.elementor-1049
  .elementor-element.elementor-element-814d51f.elementor-view-stacked
  .elementor-icon:hover
  svg {
  fill: var(--e-global-color-accent);
}
.elementor-1049 .elementor-element.elementor-element-814d51f .elementor-icon {
  font-size: 20px;
}
.elementor-1049
  .elementor-element.elementor-element-814d51f
  .elementor-icon
  svg {
  height: 20px;
}
.elementor-1049
  .elementor-element.elementor-element-814d51f
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-1049
  .elementor-element.elementor-element-8d1c37c
  .elementor-heading-title {
  color: var(--e-global-color-accent);
}
.elementor-1049
  .elementor-element.elementor-element-8d1c37c
  > .elementor-widget-container {
  padding: 15px 5px 15px 5px;
}
.elementor-1049
  .elementor-element.elementor-element-c1a20e9:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1049
  .elementor-element.elementor-element-c1a20e9
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-7e67156);
}
.elementor-1049 .elementor-element.elementor-element-c1a20e9:hover {
  background-color: var(--e-global-color-primary);
}
.elementor-1049 .elementor-element.elementor-element-c1a20e9 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-1049
  .elementor-element.elementor-element-c1a20e9
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1049
  .elementor-element.elementor-element-c20093e
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-1049
  .elementor-element.elementor-element-c20093e.elementor-view-stacked
  .elementor-icon {
  background-color: var(--e-global-color-primary);
}
.elementor-1049
  .elementor-element.elementor-element-c20093e.elementor-view-framed
  .elementor-icon,
.elementor-1049
  .elementor-element.elementor-element-c20093e.elementor-view-default
  .elementor-icon {
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-1049
  .elementor-element.elementor-element-c20093e.elementor-view-framed
  .elementor-icon,
.elementor-1049
  .elementor-element.elementor-element-c20093e.elementor-view-default
  .elementor-icon
  svg {
  fill: var(--e-global-color-primary);
}
.elementor-1049
  .elementor-element.elementor-element-c20093e.elementor-view-stacked
  .elementor-icon:hover {
  background-color: var(--e-global-color-primary);
  color: var(--e-global-color-accent);
}
.elementor-1049
  .elementor-element.elementor-element-c20093e.elementor-view-framed
  .elementor-icon:hover,
.elementor-1049
  .elementor-element.elementor-element-c20093e.elementor-view-default
  .elementor-icon:hover {
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-1049
  .elementor-element.elementor-element-c20093e.elementor-view-framed
  .elementor-icon:hover,
.elementor-1049
  .elementor-element.elementor-element-c20093e.elementor-view-default
  .elementor-icon:hover
  svg {
  fill: var(--e-global-color-primary);
}
.elementor-1049
  .elementor-element.elementor-element-c20093e.elementor-view-framed
  .elementor-icon:hover {
  background-color: var(--e-global-color-accent);
}
.elementor-1049
  .elementor-element.elementor-element-c20093e.elementor-view-stacked
  .elementor-icon:hover
  svg {
  fill: var(--e-global-color-accent);
}
.elementor-1049 .elementor-element.elementor-element-c20093e .elementor-icon {
  font-size: 20px;
}
.elementor-1049
  .elementor-element.elementor-element-c20093e
  .elementor-icon
  svg {
  height: 20px;
}
.elementor-1049
  .elementor-element.elementor-element-c20093e
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-1049
  .elementor-element.elementor-element-78f4007
  .elementor-heading-title {
  color: var(--e-global-color-accent);
}
.elementor-1049
  .elementor-element.elementor-element-78f4007
  > .elementor-widget-container {
  padding: 15px 5px 15px 5px;
}
.elementor-1049
  .elementor-element.elementor-element-31f60e0
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-1049
  .elementor-element.elementor-element-31f60e0:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1049
  .elementor-element.elementor-element-31f60e0
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-7e67156);
}
.elementor-1049 .elementor-element.elementor-element-31f60e0:hover {
  background-color: var(--e-global-color-primary);
}
.elementor-1049 .elementor-element.elementor-element-31f60e0 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-1049
  .elementor-element.elementor-element-31f60e0
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1049
  .elementor-element.elementor-element-b45b746
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-1049
  .elementor-element.elementor-element-b45b746.elementor-view-stacked
  .elementor-icon {
  background-color: var(--e-global-color-primary);
}
.elementor-1049
  .elementor-element.elementor-element-b45b746.elementor-view-framed
  .elementor-icon,
.elementor-1049
  .elementor-element.elementor-element-b45b746.elementor-view-default
  .elementor-icon {
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-1049
  .elementor-element.elementor-element-b45b746.elementor-view-framed
  .elementor-icon,
.elementor-1049
  .elementor-element.elementor-element-b45b746.elementor-view-default
  .elementor-icon
  svg {
  fill: var(--e-global-color-primary);
}
.elementor-1049
  .elementor-element.elementor-element-b45b746.elementor-view-stacked
  .elementor-icon:hover {
  background-color: var(--e-global-color-primary);
  color: var(--e-global-color-accent);
}
.elementor-1049
  .elementor-element.elementor-element-b45b746.elementor-view-framed
  .elementor-icon:hover,
.elementor-1049
  .elementor-element.elementor-element-b45b746.elementor-view-default
  .elementor-icon:hover {
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-1049
  .elementor-element.elementor-element-b45b746.elementor-view-framed
  .elementor-icon:hover,
.elementor-1049
  .elementor-element.elementor-element-b45b746.elementor-view-default
  .elementor-icon:hover
  svg {
  fill: var(--e-global-color-primary);
}
.elementor-1049
  .elementor-element.elementor-element-b45b746.elementor-view-framed
  .elementor-icon:hover {
  background-color: var(--e-global-color-accent);
}
.elementor-1049
  .elementor-element.elementor-element-b45b746.elementor-view-stacked
  .elementor-icon:hover
  svg {
  fill: var(--e-global-color-accent);
}
.elementor-1049 .elementor-element.elementor-element-b45b746 .elementor-icon {
  font-size: 20px;
}
.elementor-1049
  .elementor-element.elementor-element-b45b746
  .elementor-icon
  svg {
  height: 20px;
}
.elementor-1049
  .elementor-element.elementor-element-b45b746
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-1049
  .elementor-element.elementor-element-f04ce6a
  .elementor-heading-title {
  color: var(--e-global-color-accent);
}
.elementor-1049
  .elementor-element.elementor-element-f04ce6a
  > .elementor-widget-container {
  padding: 15px 5px 15px 5px;
}
.elementor-1049
  .elementor-element.elementor-element-6a38961
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-1049
  .elementor-element.elementor-element-6a38961:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1049
  .elementor-element.elementor-element-6a38961
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: var(--e-global-color-7e67156);
}
.elementor-1049 .elementor-element.elementor-element-6a38961:hover {
  background-color: var(--e-global-color-primary);
}
.elementor-1049 .elementor-element.elementor-element-6a38961 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
.elementor-1049
  .elementor-element.elementor-element-6a38961
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1049
  .elementor-element.elementor-element-6af24a2
  .elementor-icon-wrapper {
  text-align: center;
}
.elementor-1049
  .elementor-element.elementor-element-6af24a2.elementor-view-stacked
  .elementor-icon {
  background-color: var(--e-global-color-primary);
}
.elementor-1049
  .elementor-element.elementor-element-6af24a2.elementor-view-framed
  .elementor-icon,
.elementor-1049
  .elementor-element.elementor-element-6af24a2.elementor-view-default
  .elementor-icon {
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-1049
  .elementor-element.elementor-element-6af24a2.elementor-view-framed
  .elementor-icon,
.elementor-1049
  .elementor-element.elementor-element-6af24a2.elementor-view-default
  .elementor-icon
  svg {
  fill: var(--e-global-color-primary);
}
.elementor-1049
  .elementor-element.elementor-element-6af24a2.elementor-view-stacked
  .elementor-icon:hover {
  background-color: var(--e-global-color-primary);
  color: var(--e-global-color-accent);
}
.elementor-1049
  .elementor-element.elementor-element-6af24a2.elementor-view-framed
  .elementor-icon:hover,
.elementor-1049
  .elementor-element.elementor-element-6af24a2.elementor-view-default
  .elementor-icon:hover {
  color: var(--e-global-color-primary);
  border-color: var(--e-global-color-primary);
}
.elementor-1049
  .elementor-element.elementor-element-6af24a2.elementor-view-framed
  .elementor-icon:hover,
.elementor-1049
  .elementor-element.elementor-element-6af24a2.elementor-view-default
  .elementor-icon:hover
  svg {
  fill: var(--e-global-color-primary);
}
.elementor-1049
  .elementor-element.elementor-element-6af24a2.elementor-view-framed
  .elementor-icon:hover {
  background-color: var(--e-global-color-accent);
}
.elementor-1049
  .elementor-element.elementor-element-6af24a2.elementor-view-stacked
  .elementor-icon:hover
  svg {
  fill: var(--e-global-color-accent);
}
.elementor-1049 .elementor-element.elementor-element-6af24a2 .elementor-icon {
  font-size: 20px;
}
.elementor-1049
  .elementor-element.elementor-element-6af24a2
  .elementor-icon
  svg {
  height: 20px;
}
.elementor-1049
  .elementor-element.elementor-element-6af24a2
  > .elementor-widget-container {
  margin: 0px 0px 0px 0px;
}
.elementor-1049
  .elementor-element.elementor-element-793597a
  .elementor-heading-title {
  color: var(--e-global-color-accent);
}
.elementor-1049
  .elementor-element.elementor-element-793597a
  > .elementor-widget-container {
  padding: 15px 5px 15px 5px;
}
@media (max-width: 1024px) {
  .elementor-1049
    .elementor-element.elementor-element-15ea142a
    .el-ph-content
    h2 {
    font-size: 33px;
    letter-spacing: 0px;
  }
  .elementor-1049 .elementor-element.elementor-element-7458e7c3 {
    padding: 50px 10px 50px 10px;
  }
  .elementor-1049 .elementor-element.elementor-element-b32e95e {
    padding: 20px 20px 20px 20px;
  }
  .elementor-1049 .elementor-element.elementor-element-2a06016 {
    padding: 50px 0px 50px 0px;
  }
}
@media (max-width: 767px) {
  .elementor-1049
    .elementor-element.elementor-element-15ea142a
    .el-ph-content
    h2 {
    font-size: 25px;
    line-height: 1.3em;
    letter-spacing: 0px;
    margin: 0px 0px 0px 0px;
  }
  .elementor-1049
    .elementor-element.elementor-element-15ea142a
    .el-ph-content
    p {
    font-size: 17px;
    line-height: 2.5em;
    letter-spacing: 0px;
  }
  .elementor-1049 .elementor-element.elementor-element-7458e7c3 {
    padding: 50px 10px 50px 10px;
  }
  .elementor-1049
    .elementor-element.elementor-element-3aace79
    > .elementor-widget-container {
    padding: 0px 0px 0px 0px;
  }
  .elementor-1049 .elementor-element.elementor-element-327a2eaa {
    padding: 0px 0px 0px 0px;
  }
  .elementor-1049
    .elementor-element.elementor-element-34950fc4
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-1049
    .elementor-element.elementor-element-181c4db4
    > .elementor-element-populated {
    margin: 0px 0px 0px 0px;
    --e-column-margin-right: 0px;
    --e-column-margin-left: 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-1049
    .elementor-element.elementor-element-6b2f5f7c
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
  }
  .elementor-1049
    .elementor-element.elementor-element-2deb7267
    .dl-flip-box-back {
    padding: 10px 10px 10px 10px;
  }
  .elementor-1049
    .elementor-element.elementor-element-2deb7267
    .dl-flip-box-back-inner
    .dl-flip-box-heading-back {
    font-size: 18px;
    line-height: 1.3em;
  }
  .elementor-1049
    .elementor-element.elementor-element-2deb7267
    .dl-flip-box-back-inner
    .dl-text
    p {
    margin-top: 0px;
    font-size: 12px;
    line-height: 1.7em;
  }
  .elementor-1049 .elementor-element.elementor-element-b32e95e {
    padding: 20px 0px 20px 0px;
  }
  .elementor-1049 .elementor-element.elementor-element-bf79f5e {
    padding: 0px 0px 30px 0px;
  }
  .elementor-1049 .elementor-element.elementor-element-2a06016 {
    padding: 0px 0px 0px 0px;
  }
  .elementor-1049
    .elementor-element.elementor-element-82c5c94
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-1049 .elementor-element.elementor-element-cfe886a {
    padding: 20px 0px 0px 0px;
  }
  .elementor-1049
    .elementor-element.elementor-element-b9c4c2b
    > .elementor-element-populated {
    padding: 10px 0px 0px 0px;
  }
  .elementor-1049 .elementor-element.elementor-element-f1d331b {
    text-align: center;
  }
  .elementor-1049 .elementor-element.elementor-element-8c96be4 {
    padding: 10px 10px 10px 10px;
  }
  .elementor-1049 .elementor-element.elementor-element-0398539 {
    text-align: center;
  }
  .elementor-1049 .elementor-element.elementor-element-65cd46b {
    padding: 10px 10px 10px 10px;
  }
  .elementor-1049 .elementor-element.elementor-element-8d1c37c {
    text-align: center;
  }
  .elementor-1049
    .elementor-element.elementor-element-7ac00ba
    > .elementor-widget-wrap
    > .elementor-widget:not(.elementor-widget__width-auto):not(
      .elementor-widget__width-initial
    ):not(:last-child):not(.elementor-absolute) {
    margin-bottom: 0px;
  }
  .elementor-1049
    .elementor-element.elementor-element-7ac00ba
    > .elementor-element-populated {
    padding: 0px 0px 0px 0px;
  }
  .elementor-1049 .elementor-element.elementor-element-c1a20e9 {
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 10px 10px 10px 10px;
  }
  .elementor-1049 .elementor-element.elementor-element-78f4007 {
    text-align: center;
  }
  .elementor-1049 .elementor-element.elementor-element-31f60e0 {
    padding: 10px 10px 10px 10px;
  }
  .elementor-1049 .elementor-element.elementor-element-f04ce6a {
    text-align: center;
  }
  .elementor-1049 .elementor-element.elementor-element-6a38961 {
    padding: 10px 10px 10px 10px;
  }
  .elementor-1049 .elementor-element.elementor-element-793597a {
    text-align: center;
  }
}
