.elementor-1024
  .elementor-element.elementor-element-54c3cd15
  .custom
  .slider-content-wrap {
  height: 650px;
}
.elementor-1024
  .elementor-element.elementor-element-54c3cd15
  .dl-slider.lines
  .slick-dots
  li.slick-active
  button:after {
  animation-duration: 5000ms;
}
.elementor-1024
  .elementor-element.elementor-element-54c3cd15
  .slide-1
  .slider-content-wrap {
  text-align: left;
}
.elementor-1024
  .elementor-element.elementor-element-54c3cd15
  .slide-2
  .slider-content-wrap {
  text-align: left;
}
.elementor-1024
  .elementor-element.elementor-element-54c3cd15
  .slide-3
  .slider-content-wrap {
  text-align: left;
}
.elementor-1024
  .elementor-element.elementor-element-54c3cd15
  .dl-slider
  .dl-caption.big {
  font-family: "Poppins", Sans-serif;
  font-weight: 500;
  color: #ffffff;
  margin: 0px 0px -20px 20px;
}
.elementor-1024
  .elementor-element.elementor-element-54c3cd15
  .dl-slider
  .dl-caption.medium {
  font-family: "Work Sans", Sans-serif;
  font-size: 29px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0px;
  color: #dddddd;
  height: auto;
  margin: 0px 0px 0px 20px;
}
.elementor-1024
  .elementor-element.elementor-element-54c3cd15
  .dl-slider
  .dl-caption.small {
  font-family: "Open Sans", Sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: -0.2px;
  color: #dddddd;
  margin: 15px 0px 0px 20px;
}
.elementor-1024
  .elementor-element.elementor-element-54c3cd15
  .dl-slider
  .dl-btn,
.elementor-1024
  .elementor-element.elementor-element-54c3cd15
  .dl-slider
  .dl-btn-2 {
  background-color: var(--e-global-color-primary);
  font-family: "Work Sans", Sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0px;
}
.elementor-1024
  .elementor-element.elementor-element-54c3cd15
  .dl-slider
  .dl-btn-2 {
  height: 45px;
  line-height: 45px;
  color: #ffffff;
  border-radius: 0px 0px 0px 0px;
  margin: 0px 0px 0px 20px;
}
.elementor-1024
  .elementor-element.elementor-element-54c3cd15
  .dl-slider
  .dl-btn {
  color: #ffffff;
  border-radius: 0px 0px 0px 0px;
  margin: 0px 0px 0px 20px;
}
.elementor-1024
  .elementor-element.elementor-element-54c3cd15
  .dl-slider
  .dl-btn:hover,
.elementor-1024
  .elementor-element.elementor-element-54c3cd15
  .dl-slider
  .dl-btn-2
  span {
  background-color: #ffffff;
}
.elementor-1024
  .elementor-element.elementor-element-54c3cd15
  .dl-slider
  .dl-btn:hover {
  color: var(--e-global-color-primary);
}
.elementor-1024
  .elementor-element.elementor-element-54c3cd15
  .dl-slider
  .dl-btn-2:hover {
  color: var(--e-global-color-primary);
}
.elementor-1024
  .elementor-element.elementor-element-54c3cd15
  .dl-slider
  .slick-dots {
  bottom: 20px;
}
.elementor-1024
  .elementor-element.elementor-element-54c3cd15
  .dots
  .slick-dots
  li:before {
  background-color: #f2f2f2;
}
.elementor-1024
  .elementor-element.elementor-element-54c3cd15
  .dots-stroke
  .slick-dots
  li
  button {
  background-color: #f2f2f2;
}
.elementor-1024
  .elementor-element.elementor-element-54c3cd15
  .dl-slider.dots
  .slick-dots
  li {
  margin: 0 5px;
}
.elementor-1024
  .elementor-element.elementor-element-54c3cd15
  .dl-slider.dots-stroke
  .slick-dots
  li {
  margin: 0 5px;
}
.elementor-1024
  .elementor-element.elementor-element-54c3cd15
  .dl-slider.lines
  .slick-dots
  li {
  margin: 0 5px;
}
.elementor-1024
  .elementor-element.elementor-element-54c3cd15
  .dots
  .slick-dots
  li.slick-active:before {
  background-color: var(--e-global-color-primary);
}
.elementor-1024
  .elementor-element.elementor-element-54c3cd15
  .dots-stroke
  .slick-dots
  li.slick-active
  button {
  background-color: var(--e-global-color-primary);
}
.elementor-1024
  .elementor-element.elementor-element-54c3cd15
  .dl-slider
  .slick-prev {
  left: 10px;
}
.elementor-1024
  .elementor-element.elementor-element-54c3cd15
  .dl-slider
  .slick-next {
  right: 10px;
}
.elementor-1024
  .elementor-element.elementor-element-1c88310a
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-1024 .elementor-element.elementor-element-1c88310a {
  padding: 80px 0px 80px 0px;
}
.elementor-1024 .elementor-element.elementor-element-42b48415 .section-heading {
  text-align: left;
}
.elementor-1024
  .elementor-element.elementor-element-42b48415
  .section-heading
  .heading {
  font-family: "Poppins", Sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: -1px;
  color: #263a4f;
}
.elementor-1024
  .elementor-element.elementor-element-42b48415
  .section-heading
  .desc {
  font-family: "Open Sans", Sans-serif;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.2px;
  color: #6a8695;
}
.elementor-1024
  .elementor-element.elementor-element-66115065
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(10px / 2);
}
.elementor-1024
  .elementor-element.elementor-element-66115065
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(10px / 2);
}
.elementor-1024
  .elementor-element.elementor-element-66115065
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(10px / 2);
  margin-left: calc(10px / 2);
}
.elementor-1024
  .elementor-element.elementor-element-66115065
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-10px / 2);
  margin-left: calc(-10px / 2);
}
body.rtl
  .elementor-1024
  .elementor-element.elementor-element-66115065
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-10px / 2);
}
body:not(.rtl)
  .elementor-1024
  .elementor-element.elementor-element-66115065
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-10px / 2);
}
.elementor-1024
  .elementor-element.elementor-element-66115065
  .elementor-icon-list-icon
  i {
  color: var(--e-global-color-primary);
  transition: color 0.3s;
}
.elementor-1024
  .elementor-element.elementor-element-66115065
  .elementor-icon-list-icon
  svg {
  fill: var(--e-global-color-primary);
  transition: fill 0.3s;
}
.elementor-1024 .elementor-element.elementor-element-66115065 {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-1024
  .elementor-element.elementor-element-66115065
  .elementor-icon-list-icon {
  padding-right: 10px;
}
.elementor-1024
  .elementor-element.elementor-element-66115065
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-1024
  .elementor-element.elementor-element-66115065
  .elementor-icon-list-item
  > a {
  font-family: "Open Sans", Sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.5px;
}
.elementor-1024
  .elementor-element.elementor-element-66115065
  .elementor-icon-list-text {
  color: #263a4f;
  transition: color 0.3s;
}
.elementor-1024
  .elementor-element.elementor-element-76f1aba4
  .dl-image-box-2
  img {
  max-width: 96%;
}
.elementor-1024
  .elementor-element.elementor-element-76f1aba4
  .dl-image-box-2
  .content {
  left: 100px;
  top: 150px;
}
.elementor-1024 .elementor-element.elementor-element-76f1aba4 .dl-image-box {
  text-align: center;
}
.elementor-1024 .elementor-element.elementor-element-76f1aba4 .dl-image-box-2 {
  text-align: center;
}
.elementor-1024
  .elementor-element.elementor-element-76f1aba4
  .dl-image-box-inner
  .heading,
.elementor-1024
  .elementor-element.elementor-element-76f1aba4
  .dl-image-box-2
  .content
  .heading {
  font-family: "Poppins", Sans-serif;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: -3px;
}
.elementor-1024
  .elementor-element.elementor-element-76f1aba4
  .dl-image-box-inner
  .heading {
  color: #263a4f;
  padding: 0px 80px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.elementor-1024
  .elementor-element.elementor-element-76f1aba4
  .dl-image-box-2
  .content
  .heading {
  color: #263a4f;
  padding: 0px 80px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.elementor-1024
  .elementor-element.elementor-element-76f1aba4
  .dl-image-box-inner
  .sub-heading,
.elementor-1024
  .elementor-element.elementor-element-76f1aba4
  .dl-image-box-2
  .content
  .sub-heading {
  font-family: "Work Sans", Sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.elementor-1024
  .elementor-element.elementor-element-76f1aba4
  .dl-image-box-inner
  .sub-heading {
  color: #263a4f;
  padding: 0px 0px 0px 0px;
  margin: -10px 0px 0px 0px;
}
.elementor-1024
  .elementor-element.elementor-element-76f1aba4
  .dl-image-box-2
  .content
  .sub-heading {
  color: #263a4f;
  padding: 0px 0px 0px 0px;
  margin: -10px 0px 0px 0px;
}
.elementor-1024
  .elementor-element.elementor-element-76f1aba4
  .dl-image-box-2
  .dots {
  width: 50%;
  height: 50%;
  -ms-transform: translate(-40px, 200px);
  -webkit-transform: translate(-40px, 200px);
  transform: translate(-40px, 200px);
  z-index: -1;
}
.elementor-1024
  .elementor-element.elementor-element-7b023ce1:not(
    .elementor-motion-effects-element-type-background
  ),
.elementor-1024
  .elementor-element.elementor-element-7b023ce1
  > .elementor-motion-effects-container
  > .elementor-motion-effects-layer {
  background-color: #f9fafa;
}
.elementor-1024 .elementor-element.elementor-element-7b023ce1 {
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
  padding: 80px 0px 80px 0px;
}
.elementor-1024
  .elementor-element.elementor-element-7b023ce1
  > .elementor-background-overlay {
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}
.elementor-1024 .elementor-element.elementor-element-55a0155c .section-heading {
  margin-bottom: 30px;
  text-align: center;
}
.elementor-1024
  .elementor-element.elementor-element-55a0155c
  .section-heading
  .heading {
  font-family: "Poppins", Sans-serif;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: -1px;
  color: #263a4f;
}
.elementor-1024
  .elementor-element.elementor-element-55a0155c
  .section-heading
  .sub-heading {
  font-family: "Work Sans", Sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  color: #6a8695;
}
.elementor-1024
  .elementor-element.elementor-element-55a0155c
  .section-heading.bd
  .sub-heading:before {
  border-style: solid;
  border-color: var(--e-global-color-primary);
  width: 40px;
  height: 40px;
  -ms-transform: translate(0px, -5px);
  -webkit-transform: translate(0px, -5px);
  transform: translate(0px, -5px);
}
.elementor-1024
  .elementor-element.elementor-element-18702e1e
  .dl-service
  .service-title {
  font-family: "Poppins", Sans-serif;
  font-size: 22px;
  letter-spacing: -1px;
  color: #263a4f;
  margin: 25px 0px 15px 0px;
}
.elementor-1024
  .elementor-element.elementor-element-18702e1e
  .dl-service
  .service-title
  a {
  color: #263a4f;
}
.elementor-1024
  .elementor-element.elementor-element-18702e1e
  .dl-service
  .service-title
  a:hover {
  color: #222;
}
.elementor-1024
  .elementor-element.elementor-element-18702e1e
  .dl-service
  .dl-icon
  i,
.elementor-1024
  .elementor-element.elementor-element-18702e1e
  .dl-service.dl-service-style-5
  .dl-icon,
.elementor-1024
  .elementor-element.elementor-element-18702e1e
  .dl-service.dl-service-style-6
  .service-icon {
  background-color: var(--e-global-color-primary);
}
.elementor-1024
  .elementor-element.elementor-element-18702e1e
  .dl-service.dl-service-style-6
  .service-icon {
  width: 60px;
  height: 60px;
  font-size: 40px;
  color: var(--e-global-color-6402df);
  -ms-transform: translate(30px, -30px);
  -webkit-transform: translate(30px, -30px);
  transform: translate(30px, -30px);
}
.elementor-1024
  .elementor-element.elementor-element-18702e1e
  .dl-service
  .dl-icon
  i {
  font-size: 40px;
  color: var(--e-global-color-6402df);
}
.elementor-1024
  .elementor-element.elementor-element-18702e1e
  .dl-service
  a.readmore_btn {
  color: var(--e-global-color-primary);
  font-family: "Work Sans", Sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: var(--e-global-color-primary);
  border-radius: 0px 0px 0px 0px;
  margin: -15px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-1024
  .elementor-element.elementor-element-18702e1e
  .dl-service
  a.readmore_btn:hover {
  background-color: rgba(2, 1, 1, 0);
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #bfca02;
  border-radius: 0px 0px 0px 0px;
}
.elementor-1024 .elementor-element.elementor-element-7659d8d4 .dl-service {
  background-color: var(--e-global-color-6402df);
}
.elementor-1024
  .elementor-element.elementor-element-7659d8d4
  .dl-service
  .service-title {
  font-family: "Poppins", Sans-serif;
  font-size: 22px;
  letter-spacing: -1px;
  color: #263a4f;
  margin: 25px 0px 15px 0px;
}
.elementor-1024
  .elementor-element.elementor-element-7659d8d4
  .dl-service
  .service-title
  a {
  color: #263a4f;
}
.elementor-1024
  .elementor-element.elementor-element-7659d8d4
  .dl-service
  .service-title
  a:hover {
  color: #222;
}
.elementor-1024
  .elementor-element.elementor-element-7659d8d4
  .dl-service
  .dl-icon
  i,
.elementor-1024
  .elementor-element.elementor-element-7659d8d4
  .dl-service.dl-service-style-5
  .dl-icon,
.elementor-1024
  .elementor-element.elementor-element-7659d8d4
  .dl-service.dl-service-style-6
  .service-icon {
  background-color: var(--e-global-color-primary);
}
.elementor-1024
  .elementor-element.elementor-element-7659d8d4
  .dl-service.dl-service-style-6
  .service-icon {
  width: 60px;
  height: 60px;
  font-size: 40px;
  color: #ffffff;
  -ms-transform: translate(30px, -30px);
  -webkit-transform: translate(30px, -30px);
  transform: translate(30px, -30px);
}
.elementor-1024
  .elementor-element.elementor-element-7659d8d4
  .dl-service
  .dl-icon
  i {
  font-size: 40px;
  color: #ffffff;
}
.elementor-1024
  .elementor-element.elementor-element-7659d8d4
  .dl-service
  a.readmore_btn {
  color: var(--e-global-color-primary);
  font-family: "Work Sans", Sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: var(--e-global-color-primary);
  border-radius: 0px 0px 0px 0px;
  margin: -15px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-1024
  .elementor-element.elementor-element-7659d8d4
  .dl-service
  a.readmore_btn:hover {
  background-color: rgba(2, 1, 1, 0);
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #bfca02;
  border-radius: 0px 0px 0px 0px;
}
.elementor-1024
  .elementor-element.elementor-element-7c5204f2
  .dl-service
  .service-title {
  font-family: "Poppins", Sans-serif;
  font-size: 22px;
  letter-spacing: -1px;
  color: #263a4f;
  margin: 25px 0px 15px 0px;
}
.elementor-1024
  .elementor-element.elementor-element-7c5204f2
  .dl-service
  .service-title
  a {
  color: #263a4f;
}
.elementor-1024
  .elementor-element.elementor-element-7c5204f2
  .dl-service
  .service-title
  a:hover {
  color: #222;
}
.elementor-1024
  .elementor-element.elementor-element-7c5204f2
  .dl-service
  .dl-icon
  i,
.elementor-1024
  .elementor-element.elementor-element-7c5204f2
  .dl-service.dl-service-style-5
  .dl-icon,
.elementor-1024
  .elementor-element.elementor-element-7c5204f2
  .dl-service.dl-service-style-6
  .service-icon {
  background-color: var(--e-global-color-primary);
}
.elementor-1024
  .elementor-element.elementor-element-7c5204f2
  .dl-service.dl-service-style-6
  .service-icon {
  width: 60px;
  height: 60px;
  font-size: 40px;
  color: #ffffff;
  -ms-transform: translate(30px, -30px);
  -webkit-transform: translate(30px, -30px);
  transform: translate(30px, -30px);
}
.elementor-1024
  .elementor-element.elementor-element-7c5204f2
  .dl-service
  .dl-icon
  i {
  font-size: 40px;
  color: #ffffff;
}
.elementor-1024
  .elementor-element.elementor-element-7c5204f2
  .dl-service
  a.readmore_btn {
  color: var(--e-global-color-primary);
  font-family: "Work Sans", Sans-serif;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: var(--e-global-color-primary);
  border-radius: 0px 0px 0px 0px;
  margin: -15px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
}
.elementor-1024
  .elementor-element.elementor-element-7c5204f2
  .dl-service
  a.readmore_btn:hover {
  background-color: rgba(2, 1, 1, 0);
  border-style: solid;
  border-width: 0px 0px 0px 0px;
  border-color: #bfca02;
  border-radius: 0px 0px 0px 0px;
}
.elementor-1024
  .elementor-element.elementor-element-889a8ae
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-1024 .elementor-element.elementor-element-889a8ae {
  padding: 80px 0px 80px 0px;
}
.elementor-1024 .elementor-element.elementor-element-e5655d7 .section-heading {
  text-align: left;
}
.elementor-1024
  .elementor-element.elementor-element-e5655d7
  .section-heading
  .heading {
  font-family: "Poppins", Sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: -1px;
  color: #263a4f;
}
.elementor-1024
  .elementor-element.elementor-element-e5655d7
  .section-heading
  .desc {
  font-family: "Open Sans", Sans-serif;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.2px;
  color: #6a8695;
}
.elementor-1024 .elementor-element.elementor-element-e5d38da .elementor-button {
  background-color: var(--e-global-color-primary);
}
.elementor-1024
  .elementor-element.elementor-element-e5d38da
  .elementor-button:hover,
.elementor-1024
  .elementor-element.elementor-element-e5d38da
  .elementor-button:focus {
  background-color: #27411e;
}
.elementor-1024
  .elementor-element.elementor-element-e5d38da
  > .elementor-widget-container {
  margin: 0px 0px 0px 5px;
}
.elementor-1024
  .elementor-element.elementor-element-4fa53e9
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(10px / 2);
}
.elementor-1024
  .elementor-element.elementor-element-4fa53e9
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(10px / 2);
}
.elementor-1024
  .elementor-element.elementor-element-4fa53e9
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(10px / 2);
  margin-left: calc(10px / 2);
}
.elementor-1024
  .elementor-element.elementor-element-4fa53e9
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-10px / 2);
  margin-left: calc(-10px / 2);
}
body.rtl
  .elementor-1024
  .elementor-element.elementor-element-4fa53e9
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-10px / 2);
}
body:not(.rtl)
  .elementor-1024
  .elementor-element.elementor-element-4fa53e9
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-10px / 2);
}
.elementor-1024
  .elementor-element.elementor-element-4fa53e9
  .elementor-icon-list-icon
  i {
  color: #bfca02;
  transition: color 0.3s;
}
.elementor-1024
  .elementor-element.elementor-element-4fa53e9
  .elementor-icon-list-icon
  svg {
  fill: #bfca02;
  transition: fill 0.3s;
}
.elementor-1024 .elementor-element.elementor-element-4fa53e9 {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-1024
  .elementor-element.elementor-element-4fa53e9
  .elementor-icon-list-icon {
  padding-right: 10px;
}
.elementor-1024
  .elementor-element.elementor-element-4fa53e9
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-1024
  .elementor-element.elementor-element-4fa53e9
  .elementor-icon-list-item
  > a {
  font-family: "Open Sans", Sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.5px;
}
.elementor-1024
  .elementor-element.elementor-element-4fa53e9
  .elementor-icon-list-text {
  color: #263a4f;
  transition: color 0.3s;
}
.elementor-1024
  .elementor-element.elementor-element-710216d
  .dl-image-box-2
  img {
  max-width: 96%;
}
.elementor-1024
  .elementor-element.elementor-element-710216d
  .dl-image-box-2
  .content {
  left: 100px;
  top: 150px;
}
.elementor-1024 .elementor-element.elementor-element-710216d .dl-image-box {
  text-align: center;
}
.elementor-1024 .elementor-element.elementor-element-710216d .dl-image-box-2 {
  text-align: center;
}
.elementor-1024
  .elementor-element.elementor-element-710216d
  .dl-image-box-inner
  .heading,
.elementor-1024
  .elementor-element.elementor-element-710216d
  .dl-image-box-2
  .content
  .heading {
  font-family: "Poppins", Sans-serif;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: -3px;
}
.elementor-1024
  .elementor-element.elementor-element-710216d
  .dl-image-box-inner
  .heading {
  color: #263a4f;
  padding: 0px 80px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.elementor-1024
  .elementor-element.elementor-element-710216d
  .dl-image-box-2
  .content
  .heading {
  color: #263a4f;
  padding: 0px 80px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.elementor-1024
  .elementor-element.elementor-element-710216d
  .dl-image-box-2
  .content
  .heading
  .box {
  width: 120px;
  height: 120px;
  border-width: 8px;
  border-color: #bfca02;
  -ms-transform: translate(-10px, -50px);
  -webkit-transform: translate(-10px, -50px);
  transform: translate(-10px, -50px);
}
.elementor-1024
  .elementor-element.elementor-element-710216d
  .dl-image-box-inner
  .sub-heading,
.elementor-1024
  .elementor-element.elementor-element-710216d
  .dl-image-box-2
  .content
  .sub-heading {
  font-family: "Work Sans", Sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.elementor-1024
  .elementor-element.elementor-element-710216d
  .dl-image-box-inner
  .sub-heading {
  color: #263a4f;
  padding: 0px 0px 0px 0px;
  margin: -10px 0px 0px 0px;
}
.elementor-1024
  .elementor-element.elementor-element-710216d
  .dl-image-box-2
  .content
  .sub-heading {
  color: #263a4f;
  padding: 0px 0px 0px 0px;
  margin: -10px 0px 0px 0px;
}
.elementor-1024
  .elementor-element.elementor-element-710216d
  .dl-image-box-2
  .dots {
  width: 50%;
  height: 50%;
  -ms-transform: translate(-40px, 200px);
  -webkit-transform: translate(-40px, 200px);
  transform: translate(-40px, 200px);
  z-index: -1;
}
.elementor-1024
  .elementor-element.elementor-element-39a059ce
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-1024 .elementor-element.elementor-element-39a059ce {
  padding: 80px 0px 80px 0px;
}
.elementor-1024
  .elementor-element.elementor-element-79ff6bc2
  .dl-image-box-2
  img {
  max-width: 96%;
}
.elementor-1024
  .elementor-element.elementor-element-79ff6bc2
  .dl-image-box-2
  .content {
  left: 100px;
  top: 150px;
}
.elementor-1024 .elementor-element.elementor-element-79ff6bc2 .dl-image-box {
  text-align: center;
}
.elementor-1024 .elementor-element.elementor-element-79ff6bc2 .dl-image-box-2 {
  text-align: center;
}
.elementor-1024
  .elementor-element.elementor-element-79ff6bc2
  .dl-image-box-inner
  .heading,
.elementor-1024
  .elementor-element.elementor-element-79ff6bc2
  .dl-image-box-2
  .content
  .heading {
  font-family: "Poppins", Sans-serif;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: -3px;
}
.elementor-1024
  .elementor-element.elementor-element-79ff6bc2
  .dl-image-box-inner
  .heading {
  color: #263a4f;
  padding: 0px 80px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.elementor-1024
  .elementor-element.elementor-element-79ff6bc2
  .dl-image-box-2
  .content
  .heading {
  color: #263a4f;
  padding: 0px 80px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.elementor-1024
  .elementor-element.elementor-element-79ff6bc2
  .dl-image-box-2
  .content
  .heading
  .box {
  width: 120px;
  height: 120px;
  border-width: 8px;
  border-color: #bfca02;
  -ms-transform: translate(-10px, -50px);
  -webkit-transform: translate(-10px, -50px);
  transform: translate(-10px, -50px);
}
.elementor-1024
  .elementor-element.elementor-element-79ff6bc2
  .dl-image-box-inner
  .sub-heading,
.elementor-1024
  .elementor-element.elementor-element-79ff6bc2
  .dl-image-box-2
  .content
  .sub-heading {
  font-family: "Work Sans", Sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.elementor-1024
  .elementor-element.elementor-element-79ff6bc2
  .dl-image-box-inner
  .sub-heading {
  color: #263a4f;
  padding: 0px 0px 0px 0px;
  margin: -10px 0px 0px 0px;
}
.elementor-1024
  .elementor-element.elementor-element-79ff6bc2
  .dl-image-box-2
  .content
  .sub-heading {
  color: #263a4f;
  padding: 0px 0px 0px 0px;
  margin: -10px 0px 0px 0px;
}
.elementor-1024
  .elementor-element.elementor-element-79ff6bc2
  .dl-image-box-2
  .dots {
  width: 50%;
  height: 50%;
  -ms-transform: translate(-40px, 200px);
  -webkit-transform: translate(-40px, 200px);
  transform: translate(-40px, 200px);
  z-index: -1;
}
.elementor-1024 .elementor-element.elementor-element-6727afdd .section-heading {
  text-align: left;
}
.elementor-1024
  .elementor-element.elementor-element-6727afdd
  .section-heading
  .heading {
  font-family: "Poppins", Sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: -1px;
  color: #263a4f;
}
.elementor-1024
  .elementor-element.elementor-element-6727afdd
  .section-heading
  .desc {
  font-family: "Open Sans", Sans-serif;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.2px;
  color: #6a8695;
}
.elementor-1024
  .elementor-element.elementor-element-2426ebc9
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(10px / 2);
}
.elementor-1024
  .elementor-element.elementor-element-2426ebc9
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(10px / 2);
}
.elementor-1024
  .elementor-element.elementor-element-2426ebc9
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(10px / 2);
  margin-left: calc(10px / 2);
}
.elementor-1024
  .elementor-element.elementor-element-2426ebc9
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-10px / 2);
  margin-left: calc(-10px / 2);
}
body.rtl
  .elementor-1024
  .elementor-element.elementor-element-2426ebc9
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-10px / 2);
}
body:not(.rtl)
  .elementor-1024
  .elementor-element.elementor-element-2426ebc9
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-10px / 2);
}
.elementor-1024
  .elementor-element.elementor-element-2426ebc9
  .elementor-icon-list-icon
  i {
  color: var(--e-global-color-primary);
  transition: color 0.3s;
}
.elementor-1024
  .elementor-element.elementor-element-2426ebc9
  .elementor-icon-list-icon
  svg {
  fill: var(--e-global-color-primary);
  transition: fill 0.3s;
}
.elementor-1024 .elementor-element.elementor-element-2426ebc9 {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-1024
  .elementor-element.elementor-element-2426ebc9
  .elementor-icon-list-icon {
  padding-right: 10px;
}
.elementor-1024
  .elementor-element.elementor-element-2426ebc9
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-1024
  .elementor-element.elementor-element-2426ebc9
  .elementor-icon-list-item
  > a {
  font-family: "Open Sans", Sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.5px;
}
.elementor-1024
  .elementor-element.elementor-element-2426ebc9
  .elementor-icon-list-text {
  color: #263a4f;
  transition: color 0.3s;
}
.elementor-1024
  .elementor-element.elementor-element-4baf8ee9
  .elementor-button {
  background-color: var(--e-global-color-primary);
}
.elementor-1024
  .elementor-element.elementor-element-4baf8ee9
  .elementor-button:hover,
.elementor-1024
  .elementor-element.elementor-element-4baf8ee9
  .elementor-button:focus {
  background-color: #27411e;
}
.elementor-1024
  .elementor-element.elementor-element-4baf8ee9
  > .elementor-widget-container {
  margin: 0px 0px 0px 5px;
}
.elementor-1024
  .elementor-element.elementor-element-a6d8a8b
  > .elementor-container
  > .elementor-column
  > .elementor-widget-wrap {
  align-content: center;
  align-items: center;
}
.elementor-1024 .elementor-element.elementor-element-a6d8a8b {
  padding: 80px 0px 80px 0px;
}
.elementor-1024 .elementor-element.elementor-element-a892168 .section-heading {
  text-align: left;
}
.elementor-1024
  .elementor-element.elementor-element-a892168
  .section-heading
  .heading {
  font-family: "Poppins", Sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 42px;
  letter-spacing: -1px;
  color: #263a4f;
}
.elementor-1024
  .elementor-element.elementor-element-a892168
  .section-heading
  .desc {
  font-family: "Open Sans", Sans-serif;
  font-size: 15px;
  line-height: 26px;
  letter-spacing: -0.2px;
  color: #6a8695;
}
.elementor-1024 .elementor-element.elementor-element-7922f67 .elementor-button {
  background-color: var(--e-global-color-primary);
}
.elementor-1024
  .elementor-element.elementor-element-7922f67
  .elementor-button:hover,
.elementor-1024
  .elementor-element.elementor-element-7922f67
  .elementor-button:focus {
  background-color: #27411e;
}
.elementor-1024
  .elementor-element.elementor-element-7922f67
  > .elementor-widget-container {
  margin: 0px 0px 0px 5px;
}
.elementor-1024
  .elementor-element.elementor-element-37d761c
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:last-child) {
  padding-bottom: calc(10px / 2);
}
.elementor-1024
  .elementor-element.elementor-element-37d761c
  .elementor-icon-list-items:not(.elementor-inline-items)
  .elementor-icon-list-item:not(:first-child) {
  margin-top: calc(10px / 2);
}
.elementor-1024
  .elementor-element.elementor-element-37d761c
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item {
  margin-right: calc(10px / 2);
  margin-left: calc(10px / 2);
}
.elementor-1024
  .elementor-element.elementor-element-37d761c
  .elementor-icon-list-items.elementor-inline-items {
  margin-right: calc(-10px / 2);
  margin-left: calc(-10px / 2);
}
body.rtl
  .elementor-1024
  .elementor-element.elementor-element-37d761c
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  left: calc(-10px / 2);
}
body:not(.rtl)
  .elementor-1024
  .elementor-element.elementor-element-37d761c
  .elementor-icon-list-items.elementor-inline-items
  .elementor-icon-list-item:after {
  right: calc(-10px / 2);
}
.elementor-1024
  .elementor-element.elementor-element-37d761c
  .elementor-icon-list-icon
  i {
  color: #bfca02;
  transition: color 0.3s;
}
.elementor-1024
  .elementor-element.elementor-element-37d761c
  .elementor-icon-list-icon
  svg {
  fill: #bfca02;
  transition: fill 0.3s;
}
.elementor-1024 .elementor-element.elementor-element-37d761c {
  --e-icon-list-icon-size: 14px;
  --icon-vertical-offset: 0px;
}
.elementor-1024
  .elementor-element.elementor-element-37d761c
  .elementor-icon-list-icon {
  padding-right: 10px;
}
.elementor-1024
  .elementor-element.elementor-element-37d761c
  .elementor-icon-list-item
  > .elementor-icon-list-text,
.elementor-1024
  .elementor-element.elementor-element-37d761c
  .elementor-icon-list-item
  > a {
  font-family: "Open Sans", Sans-serif;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.5px;
}
.elementor-1024
  .elementor-element.elementor-element-37d761c
  .elementor-icon-list-text {
  color: #263a4f;
  transition: color 0.3s;
}
.elementor-1024
  .elementor-element.elementor-element-00ae580
  .dl-image-box-2
  img {
  max-width: 96%;
}
.elementor-1024
  .elementor-element.elementor-element-00ae580
  .dl-image-box-2
  .content {
  left: 100px;
  top: 150px;
}
.elementor-1024 .elementor-element.elementor-element-00ae580 .dl-image-box {
  text-align: center;
}
.elementor-1024 .elementor-element.elementor-element-00ae580 .dl-image-box-2 {
  text-align: center;
}
.elementor-1024
  .elementor-element.elementor-element-00ae580
  .dl-image-box-inner
  .heading,
.elementor-1024
  .elementor-element.elementor-element-00ae580
  .dl-image-box-2
  .content
  .heading {
  font-family: "Poppins", Sans-serif;
  font-size: 100px;
  font-weight: 700;
  letter-spacing: -3px;
}
.elementor-1024
  .elementor-element.elementor-element-00ae580
  .dl-image-box-inner
  .heading {
  color: #263a4f;
  padding: 0px 80px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.elementor-1024
  .elementor-element.elementor-element-00ae580
  .dl-image-box-2
  .content
  .heading {
  color: #263a4f;
  padding: 0px 80px 0px 0px;
  margin: 0px 0px 0px 0px;
}
.elementor-1024
  .elementor-element.elementor-element-00ae580
  .dl-image-box-2
  .content
  .heading
  .box {
  width: 120px;
  height: 120px;
  border-width: 8px;
  border-color: #bfca02;
  -ms-transform: translate(-10px, -50px);
  -webkit-transform: translate(-10px, -50px);
  transform: translate(-10px, -50px);
}
.elementor-1024
  .elementor-element.elementor-element-00ae580
  .dl-image-box-inner
  .sub-heading,
.elementor-1024
  .elementor-element.elementor-element-00ae580
  .dl-image-box-2
  .content
  .sub-heading {
  font-family: "Work Sans", Sans-serif;
  font-size: 14px;
  font-weight: 600;
}
.elementor-1024
  .elementor-element.elementor-element-00ae580
  .dl-image-box-inner
  .sub-heading {
  color: #263a4f;
  padding: 0px 0px 0px 0px;
  margin: -10px 0px 0px 0px;
}
.elementor-1024
  .elementor-element.elementor-element-00ae580
  .dl-image-box-2
  .content
  .sub-heading {
  color: #263a4f;
  padding: 0px 0px 0px 0px;
  margin: -10px 0px 0px 0px;
}
.elementor-1024
  .elementor-element.elementor-element-00ae580
  .dl-image-box-2
  .dots {
  width: 50%;
  height: 50%;
  -ms-transform: translate(-40px, 200px);
  -webkit-transform: translate(-40px, 200px);
  transform: translate(-40px, 200px);
  z-index: -1;
}
.elementor-1024 .elementor-element.elementor-element-583887fe {
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 0px 0px 0px 0px;
}
@media (max-width: 1024px) {
  .elementor-1024
    .elementor-element.elementor-element-54c3cd15
    .custom
    .slider-content-wrap {
    height: 500px;
  }
  .elementor-1024
    .elementor-element.elementor-element-54c3cd15
    .dl-slider
    .dl-caption.big {
    font-size: 36px;
    line-height: 46px;
  }
  .elementor-1024 .elementor-element.elementor-element-1c88310a {
    padding: 50px 10px 50px 10px;
  }
  .elementor-1024
    .elementor-element.elementor-element-42b48415
    .section-heading
    .heading {
    font-size: 24px;
    line-height: 32px;
  }
  .elementor-1024
    .elementor-element.elementor-element-66115065
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(10px / 2);
  }
  .elementor-1024
    .elementor-element.elementor-element-66115065
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(10px / 2);
  }
  .elementor-1024
    .elementor-element.elementor-element-66115065
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item {
    margin-right: calc(10px / 2);
    margin-left: calc(10px / 2);
  }
  .elementor-1024
    .elementor-element.elementor-element-66115065
    .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-10px / 2);
    margin-left: calc(-10px / 2);
  }
  body.rtl
    .elementor-1024
    .elementor-element.elementor-element-66115065
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    left: calc(-10px / 2);
  }
  body:not(.rtl)
    .elementor-1024
    .elementor-element.elementor-element-66115065
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    right: calc(-10px / 2);
  }
  .elementor-1024
    .elementor-element.elementor-element-76f1aba4
    .dl-image-box-2
    .content {
    left: 0px;
    top: 60px;
  }
  .elementor-1024
    .elementor-element.elementor-element-76f1aba4
    .dl-image-box-2
    .dots {
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  .elementor-1024 .elementor-element.elementor-element-7b023ce1 {
    padding: 50px 10px 50px 10px;
  }
  .elementor-1024
    .elementor-element.elementor-element-55a0155c
    .section-heading
    .heading {
    font-size: 28px;
  }
  .elementor-1024
    .elementor-element.elementor-element-55a0155c
    .section-heading.bd
    .sub-heading:before {
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  .elementor-1024
    .elementor-element.elementor-element-18702e1e
    .dl-service.dl-service-style-6
    .service-icon {
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  .elementor-1024
    .elementor-element.elementor-element-7659d8d4
    .dl-service.dl-service-style-6
    .service-icon {
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  .elementor-1024
    .elementor-element.elementor-element-7c5204f2
    .dl-service.dl-service-style-6
    .service-icon {
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  .elementor-1024 .elementor-element.elementor-element-889a8ae {
    padding: 50px 10px 50px 10px;
  }
  .elementor-1024
    .elementor-element.elementor-element-e5655d7
    .section-heading
    .heading {
    font-size: 24px;
    line-height: 32px;
  }
  .elementor-1024
    .elementor-element.elementor-element-4fa53e9
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(10px / 2);
  }
  .elementor-1024
    .elementor-element.elementor-element-4fa53e9
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(10px / 2);
  }
  .elementor-1024
    .elementor-element.elementor-element-4fa53e9
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item {
    margin-right: calc(10px / 2);
    margin-left: calc(10px / 2);
  }
  .elementor-1024
    .elementor-element.elementor-element-4fa53e9
    .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-10px / 2);
    margin-left: calc(-10px / 2);
  }
  body.rtl
    .elementor-1024
    .elementor-element.elementor-element-4fa53e9
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    left: calc(-10px / 2);
  }
  body:not(.rtl)
    .elementor-1024
    .elementor-element.elementor-element-4fa53e9
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    right: calc(-10px / 2);
  }
  .elementor-1024
    .elementor-element.elementor-element-710216d
    .dl-image-box-2
    .content {
    left: 0px;
    top: 60px;
  }
  .elementor-1024
    .elementor-element.elementor-element-710216d
    .dl-image-box-2
    .content
    .heading
    .box {
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  .elementor-1024
    .elementor-element.elementor-element-710216d
    .dl-image-box-2
    .dots {
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  .elementor-1024 .elementor-element.elementor-element-39a059ce {
    padding: 50px 10px 50px 10px;
  }
  .elementor-1024
    .elementor-element.elementor-element-79ff6bc2
    .dl-image-box-2
    .content {
    left: 0px;
    top: 60px;
  }
  .elementor-1024
    .elementor-element.elementor-element-79ff6bc2
    .dl-image-box-2
    .content
    .heading
    .box {
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  .elementor-1024
    .elementor-element.elementor-element-79ff6bc2
    .dl-image-box-2
    .dots {
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  .elementor-1024
    .elementor-element.elementor-element-6727afdd
    .section-heading
    .heading {
    font-size: 24px;
    line-height: 32px;
  }
  .elementor-1024
    .elementor-element.elementor-element-2426ebc9
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(10px / 2);
  }
  .elementor-1024
    .elementor-element.elementor-element-2426ebc9
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(10px / 2);
  }
  .elementor-1024
    .elementor-element.elementor-element-2426ebc9
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item {
    margin-right: calc(10px / 2);
    margin-left: calc(10px / 2);
  }
  .elementor-1024
    .elementor-element.elementor-element-2426ebc9
    .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-10px / 2);
    margin-left: calc(-10px / 2);
  }
  body.rtl
    .elementor-1024
    .elementor-element.elementor-element-2426ebc9
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    left: calc(-10px / 2);
  }
  body:not(.rtl)
    .elementor-1024
    .elementor-element.elementor-element-2426ebc9
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    right: calc(-10px / 2);
  }
  .elementor-1024 .elementor-element.elementor-element-a6d8a8b {
    padding: 50px 10px 50px 10px;
  }
  .elementor-1024
    .elementor-element.elementor-element-a892168
    .section-heading
    .heading {
    font-size: 24px;
    line-height: 32px;
  }
  .elementor-1024
    .elementor-element.elementor-element-37d761c
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:last-child) {
    padding-bottom: calc(10px / 2);
  }
  .elementor-1024
    .elementor-element.elementor-element-37d761c
    .elementor-icon-list-items:not(.elementor-inline-items)
    .elementor-icon-list-item:not(:first-child) {
    margin-top: calc(10px / 2);
  }
  .elementor-1024
    .elementor-element.elementor-element-37d761c
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item {
    margin-right: calc(10px / 2);
    margin-left: calc(10px / 2);
  }
  .elementor-1024
    .elementor-element.elementor-element-37d761c
    .elementor-icon-list-items.elementor-inline-items {
    margin-right: calc(-10px / 2);
    margin-left: calc(-10px / 2);
  }
  body.rtl
    .elementor-1024
    .elementor-element.elementor-element-37d761c
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    left: calc(-10px / 2);
  }
  body:not(.rtl)
    .elementor-1024
    .elementor-element.elementor-element-37d761c
    .elementor-icon-list-items.elementor-inline-items
    .elementor-icon-list-item:after {
    right: calc(-10px / 2);
  }
  .elementor-1024
    .elementor-element.elementor-element-00ae580
    .dl-image-box-2
    .content {
    left: 0px;
    top: 60px;
  }
  .elementor-1024
    .elementor-element.elementor-element-00ae580
    .dl-image-box-2
    .content
    .heading
    .box {
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  .elementor-1024
    .elementor-element.elementor-element-00ae580
    .dl-image-box-2
    .dots {
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  .elementor-1024 .elementor-element.elementor-element-583887fe {
    padding: 50px 10px 50px 10px;
  }
}
@media (max-width: 767px) {
  .elementor-1024
    .elementor-element.elementor-element-54c3cd15
    .custom
    .slider-content-wrap {
    height: 450px;
  }
  .elementor-1024
    .elementor-element.elementor-element-54c3cd15
    .dl-slider
    .dl-caption.big {
    font-size: 24px;
    line-height: 32px;
  }
  .elementor-1024 .elementor-element.elementor-element-1c88310a {
    padding: 50px 10px 50px 10px;
  }
  .elementor-1024
    .elementor-element.elementor-element-66115065
    > .elementor-widget-container {
    margin: 0px 0px 0px 0px;
    padding: 0px 20px 0px 10px;
  }
  .elementor-1024
    .elementor-element.elementor-element-76f1aba4
    .dl-image-box-2
    .content {
    left: 80px;
    top: 50px;
  }
  .elementor-1024
    .elementor-element.elementor-element-76f1aba4
    .dl-image-box-2
    .dots {
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  .elementor-1024 .elementor-element.elementor-element-7b023ce1 {
    padding: 50px 10px 50px 10px;
  }
  .elementor-1024
    .elementor-element.elementor-element-55a0155c
    .section-heading
    .heading {
    font-size: 24px;
  }
  .elementor-1024
    .elementor-element.elementor-element-55a0155c
    .section-heading.bd
    .sub-heading:before {
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  .elementor-1024
    .elementor-element.elementor-element-18702e1e
    .dl-service
    .service-title {
    font-size: 18px;
  }
  .elementor-1024
    .elementor-element.elementor-element-18702e1e
    .dl-service.dl-service-style-6
    .service-icon {
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  .elementor-1024
    .elementor-element.elementor-element-7659d8d4
    .dl-service
    .service-title {
    font-size: 18px;
  }
  .elementor-1024
    .elementor-element.elementor-element-7659d8d4
    .dl-service.dl-service-style-6
    .service-icon {
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  .elementor-1024
    .elementor-element.elementor-element-7c5204f2
    .dl-service
    .service-title {
    font-size: 18px;
  }
  .elementor-1024
    .elementor-element.elementor-element-7c5204f2
    .dl-service.dl-service-style-6
    .service-icon {
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  .elementor-1024 .elementor-element.elementor-element-889a8ae {
    padding: 50px 10px 50px 10px;
  }
  .elementor-1024
    .elementor-element.elementor-element-710216d
    .dl-image-box-2
    .content {
    left: 80px;
    top: 50px;
  }
  .elementor-1024
    .elementor-element.elementor-element-710216d
    .dl-image-box-2
    .content
    .heading
    .box {
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  .elementor-1024
    .elementor-element.elementor-element-710216d
    .dl-image-box-2
    .dots {
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  .elementor-1024 .elementor-element.elementor-element-39a059ce {
    padding: 50px 10px 50px 10px;
  }
  .elementor-1024
    .elementor-element.elementor-element-79ff6bc2
    .dl-image-box-2
    .content {
    left: 80px;
    top: 50px;
  }
  .elementor-1024
    .elementor-element.elementor-element-79ff6bc2
    .dl-image-box-2
    .content
    .heading
    .box {
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  .elementor-1024
    .elementor-element.elementor-element-79ff6bc2
    .dl-image-box-2
    .dots {
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  .elementor-1024 .elementor-element.elementor-element-a6d8a8b {
    padding: 50px 10px 50px 10px;
  }
  .elementor-1024
    .elementor-element.elementor-element-00ae580
    .dl-image-box-2
    .content {
    left: 80px;
    top: 50px;
  }
  .elementor-1024
    .elementor-element.elementor-element-00ae580
    .dl-image-box-2
    .content
    .heading
    .box {
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
  .elementor-1024
    .elementor-element.elementor-element-00ae580
    .dl-image-box-2
    .dots {
    -ms-transform: translate(0px, 0px);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}
@media (min-width: 768px) {
  .elementor-1024 .elementor-element.elementor-element-79945150 {
    width: 49.744%;
  }
  .elementor-1024 .elementor-element.elementor-element-37b6d362 {
    width: 50%;
  }
  .elementor-1024 .elementor-element.elementor-element-d6e80fb {
    width: 49.744%;
  }
  .elementor-1024 .elementor-element.elementor-element-530b2ff {
    width: 50%;
  }
  .elementor-1024 .elementor-element.elementor-element-f700809 {
    width: 49.744%;
  }
  .elementor-1024 .elementor-element.elementor-element-4ca8e0d0 {
    width: 50%;
  }
  .elementor-1024 .elementor-element.elementor-element-a267fa6 {
    width: 49.744%;
  }
  .elementor-1024 .elementor-element.elementor-element-ebc42e9 {
    width: 50%;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .elementor-1024 .elementor-element.elementor-element-708f54ae {
    width: 50%;
  }
  .elementor-1024 .elementor-element.elementor-element-43d4590 {
    width: 50%;
  }
  .elementor-1024 .elementor-element.elementor-element-557c9d97 {
    width: 50%;
  }
}
